[2016-05-25 13:18] sharmilemurugaraj opened #1 "No files"
Hi When I install this module I dont have any files except package and readme.txt.

Can you check?

[2016-05-29 05:24] oferh commented on #1
Do you mean that `git clone https://github.com/oferh/ng2-autocomplete.git` doesn't clone the project or something else?

[2016-05-30 09:12] sharmilemurugaraj commented on #1
I am getting only package.json and readme.txt when i clone the module

[2016-06-02 05:56] oferh commented on #1
can you paste the exact command you are using? don't see any reason that you shouldn't get the files.
try to download the files from the [repo](https://github.com/oferh/ng2-autocomplete/archive/master.zip) and let me know if you get them all.

[2016-06-06 21:51] oferh commented on #1
it looks like a git issue not related to this project

[2016-06-06 21:51] #1 closed

[2016-06-07 06:48] anikets43 opened #2 "Hit server when filter text length is greater than 2 chars"
Hi @oferh

Nice component!!

How do I configure to hit the server only when the filter text length is greater than 'n' characters. Also i need to add debounce time to wait before it hits.

Thanks,
Aniket

[2016-06-07 18:22] oferh commented on #2
thanks @anikets43!
You can do both in `onKey`

[code]

[2016-06-14 17:18] #2 closed

[2016-06-23 17:18] kpkantaw opened #3 "build error at ComponentRef"
build error at ComponentRef is not generic for autocomplete.ts where you do private listCmp: ComponentRef<AutocompleteList> = undefined;

VS 2015

[2016-06-25 10:52] oferh commented on #3
@kpkantaw  can you provide some more details:
1. what version of typescript and node are used?
2. the build output
3. are you using `npm run build:dev` to run the project?

As a side note: the project is built and test only on linux & mac

[2016-07-04 12:21] hakalb opened #5 "npm download"
Will you release your project to be downloaded using npm instead of cloning?

[2016-07-05 07:08] oferh commented on #5
work on v0.2.0 that will be an autocomplete component (not a directive as it is at the moment) is underway. when it'll be ready I'll release it as nam package.

[2016-07-06 07:17] hakalb commented on #5
Ok, thanks :+1:

[2016-07-06 07:17] #5 closed

[2016-07-12 18:16] #3 closed

[2016-07-16 17:42] kodeine opened #6 "Create a demo with material design css"
Using material css [like this](http://4dev.tech/2016/03/tutorial-creating-an-angular2-autocomplete/)?
Any idea's?

Thanks

[2016-07-16 17:48] kodeine opened #7 "arrow keys selection"
as the title says, how to achieve selection using arrow keys?

[2016-07-18 11:36] oferh commented on #7
check branch [ver-0.20](https://github.com/oferh/ng2-autocomplete/tree/ver-0.2.0) it's implemented in it

[2016-07-18 12:05] oferh commented on #6
Would you like to replace the component, the demo or both css with material?
AFAIK material 2 which is the project that will provide material design for angular 2 is still in early stages not sue you'll have ready made styles to use.

[2016-07-18 14:09] kodeine commented on #6
@oferh im trying to use this on a hybrid mobile app so material design was needed, if you can make a demo based on that, would be awesome. Which ever is easier.

[2016-07-18 17:13] oferh commented on #6
@kodeine not sure i'll be able to get to it in the near future.
However, from a short look the project you sent uses almost the same HTML elements so most of the changes can be done by replacing the CSS and the classes.

[2016-07-19 04:42] kodeine commented on #6
@oferh i'm trying to install the package like
[code]
but it keeps on downloading the master branch not the ver-0.2.0.. any idea's?

[2016-07-19 10:20] oferh commented on #6
@kodeine, I'll try to release the version later today.

[2016-07-19 16:55] oferh commented on #6
@kodeine changes the package name to ng2-completer and published it to npm

[2016-07-22 04:10] #7 closed

[2016-07-22 04:21] kodeine commented on #6
@oferh thank you

[2016-07-25 13:37] stanislasdrg opened #10 "Missing module problem ?"
Hello I'm trying to install ng2-completer through npm.
Whenever I launch my app, I get this error :

`node_modules/ng2-completer/bundles/src/ng2-completer.d.ts(1,30): error TS2307: Cannot find module './components/ng2-completer/completer-cmp'.`

Is there something I overlooked ? I am running 1.2.0.

Thank you for your help !

[2016-07-25 18:58] #10 closed

[2016-07-25 19:01] oferh commented on #10
@stanislasdrg thanks for reporting, please let me know if it's working for you now.

[2016-07-26 09:37] stanislasdrg commented on #10
@oferh Thanks for your help. Tried to install it from the github repo using :
`npm install git+https://git@github.com/oferh/ng2-completer`

Although it appears in node_modules with the same file structure as in Github, I encounter a similar error upon npm start :
`app/search.component.ts(2,87): error TS2307: Cannot find module 'ng2-completer'.`

I tried to play with the path, without success.

Any

[2016-07-26 09:46] oferh commented on #10
@stanislasdrg have you tried `npm install ng2-completer`? installing from github doesn't run the build process.

[2016-07-26 09:53] stanislasdrg commented on #10
Yes, that's what I finally tried, and it indeed worked.
Thank you for your help.

[2016-07-26 10:39] stanislasdrg commented on #10
I have another error.
tsc -w command returns a 404 error :

`16.07.26 11:32:04 404 GET /ng2-completer`

However, I am unable to see where the error originates from.

[2016-07-26 10:55] oferh commented on #10
are you using system.js? angular-cli? looks like you need to define the routes to load the package

[2016-07-26 10:58] stanislasdrg commented on #10
I'm using Angular.io systemjs's basic config file.
New to Angular. Will look into that.
Thanks !

[2016-07-26 11:07] oferh commented on #10
look at the guidelines in angular-cli, it can be a good reference
https://github.com/angular/angular-cli/wiki/3rd-party-libs

On Tue, Jul 26, 2016 at 1:58 PM, stanislasdrg <notifications@github.com>
wrote:

[2016-07-26 12:01] stanislasdrg commented on #10
@oferh  Thank you for the link 👍
Seems I had done the right thing though :
[code]
But I now have another error :
[code]

Tried to look for similar errors, but haven't been able to fix it so far.

[2016-07-26 12:15] oferh commented on #10
Try to define angular components in packages and letting system.js know that ng2-completer package format:

[code]

[2016-07-26 12:19] stanislasdrg commented on #10
@oferh That did the trick ! Everything is finally working !
Thank you very much for your help. I'll dive deeper in systemjs.

Cheers.

[2016-07-26 12:24] oferh commented on #10
@stanislasdrg glad I could help!
I'll add a section in the readme about system.js config

[2016-07-26 12:31] stanislasdrg commented on #10
@oferh Good idea !
What was in fact missing was the format, it works if I just add it.
So, you can remove the other angular components.
Cheers.

[2016-07-28 14:28] Anruin opened #11 "Problem with empty input"
Hi, there is problem if I press Enter in empty field

Here is the problem (completer-cmp.ts:158):
[code]
When field is empty, it throws exception, because listCmp is undefined. I'd added one more condition like "if (this.listCmp && ... "

[2016-07-30 07:22] oferh commented on #11
closed by PR #12

[2016-07-30 07:22] #11 closed

[2016-07-30 14:49] pdinesh80 commented on #6
First of all, I started using ng2-completer, i find it very useful, Thanks for your efforts.

I have a question regarding CSS, I'm not able to overide the CSS properties, not sure why. I'm new to Angular2 so it may be my ignorance, if you can include couple of example in demo overriding the ng2completer CSS, that would be great. Also an example using urlFormater. Thanks in advance.

[2016-07-31 03:22] quaffapint opened #13 "Support for custom HTML and CSS"
Currently the input box has a class of 'completer-input' specified, but I see no way to add my own css class to the input, like 'form-control' so it styles properly in bootstrap.

Any ideas?

[2016-07-31 04:28] oferh commented on #6
Thanks for the feedback, I'll add an example for urlFormater.

[2016-07-31 04:33] oferh commented on #13
Was thinking to add a simple way to add classes to the input, something like:
[code]

[2016-08-01 17:21] oferh commented on #13
@pdinesh80 since the dropdown is one of the few elements that has default css you can override them with `!important`.
I think this should work:
[code]

[2016-08-01 17:52] vjoao commented on #13
How can you set the 'completer-input' properties without using a global CSS?

[2016-08-01 18:02] oferh commented on #13
@vjoao you can use `:host /deep/ ` or `:host >>>` as described in the previous response for [component styles](https://angular.io/docs/ts/latest/guide/component-styles.html)

[2016-08-01 18:58] pdinesh80 commented on #13
@oferh Thanks, "!important;" worked. I was able to get the width 100% now.

Another question, Is there any CSS property for list item. I'm doing the search on two fields, in the drop down i see the two fields one below the other, i want it horizontal in a single row.

Tried searching the source for CSS, couldn't find any. Thanks.

[2016-08-01 19:47] oferh commented on #13
@pdinesh80 there are several CSS classes for the list item.
you can see them in the [list component HTML](https://github.com/oferh/ng2-completer/blob/master/src/components/ng2-completer/completer-list-cmp.html) and in the [item component HTML](https://github.com/oferh/ng2-completer/blob/master/src/components/ng2-completer/completer-list-item-cmp.html)

[2016-08-01 19:50] pdinesh80 commented on #13
@oferh Thanks will go through them.

[2016-08-02 19:26] pdinesh80 opened #14 "Is Space or special character not allowed in completer input?"
Hi @oferh
I want to have multiple words on the completer input with space delimited, my remote url supports the multiple words search. But when i hit space or comma in input field, i'm getting search result not found. Is there a workaround for this?

[2016-08-03 06:42] oferh commented on #14
@pdinesh80 can you provide an example?

[2016-08-03 10:56] pdinesh80 commented on #14
My question was vague, sorry about that , let me try this way

I'm trying to do multi word filtering on the completer. For example my search fields are Name, email and Phonenumber

Example Data

John Paul	John@xyz.com	123-456-7890
John Peter	Jpeter@xyz.com 	123-678-4560

In my completer input when i start typing "John", I get two entries in drop down. Further I would like to refine my searching by

[2016-08-03 11:49] oferh commented on #14
Thansk @pdinesh80.

You can do it by writing a custom data provider.

It should be a class like that:

[code]

And then pass a new instance of your custom data provider to `dataService` attribute.

[2016-08-03 12:56] pdinesh80 commented on #14
@oferh Thanks. Will give a try.

[2016-08-03 13:13] andyrue opened #15 "Using with mgechev/angular2-seed"
I can't seem to get this to load using the mgechev/angular2-seed project.

Under paths I've added

     'ng2-completer': '${this.NPM_BASE}ng2-completer/bundles',

and packages section I added

     'ng2-completer': {
        main: 'ng2-completer.js',
        format: 'cjs'
      }

but I get the error that it can't find `node_modules/ng2-completer/bundles.js` so I tried setting the path to `'${this

[2016-08-03 16:30] josepoma opened #16 "Error Module not already loaded loading "@angular/core""
I did all steps to implement the component, but when running I get this:

localhost/:148 Error: Error: Module not already loaded loading "@angular/core" as http://localhost:5555/node_modules/@angular/core/bundles/core.umd.
	    at Object.eval (http://localhost:5555/node_modules/ng2-completer/bundles/ng2-completer.js:76:19)
	    at __webpack_require__ (http://localhost:5555/node_modules/ng2-complet

[2016-08-03 16:48] josepoma commented on #15
Hi @andyrue, I have the same error : [ https://github.com/oferh/ng2-completer/issues/16](url)
**you could fix it?**
Thanks.

[2016-08-03 18:26] pdinesh80 commented on #14
@oferh I created the customData class, how I access it from completer-service?
still call with completerService.remote?
Currently I see LocalData and RemoteData, Do i need any changes on the service too?

[2016-08-03 20:32] oferh commented on #16
@josepoma can you add your system.js config?

[2016-08-03 21:23] josepoma commented on #16
@oferh Here the system.js config :

System.config({
  defaultJSExtensions: true,
  map: {
    'rxjs'                  : 'node_modules/rxjs',
    'lodash'                : 'node_modules/lodash/lodash.js',
    '@angular'              : 'node_modules/@angular',
    'ng2-pagination'        : 'node_modules/ng2-pagination',
    'ng2-slim-loading-bar'  : 'node_modules/ng2-slim-loading-bar',
    'ng2-date

[2016-08-03 21:31] oferh commented on #15
@andyrue after several attempts with angular2-seed adding the following lines to  the constructor in `/tools/config/project.config.ts` worked for me in :

[code]

[2016-08-03 21:34] oferh commented on #16
try loading `ng2-completer` with:

[code]

[2016-08-03 21:55] josepoma commented on #16
Do what you said, but get the same error.
![geterror](https://cloud.githubusercontent.com/assets/12588269/17383331/04ec880e-599b-11e6-9f56-85e6f4d75087.png)

[2016-08-04 05:04] oferh commented on #16
@josepoma it looks like System.js ignores `format: 'cjs'`  for some reason. If you can I think it'll be better to ask the question in system.js issues.

[2016-08-04 05:34] oferh commented on #14
@pdinesh80 added [custom data example](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts) to the demo

[2016-08-04 12:30] pdinesh80 commented on #14
@oferh Wonderfu.. Thanks a lot.

[2016-08-04 12:30] #14 closed

[2016-08-04 15:12] andyrue commented on #15
Thanks, that did it!

[2016-08-04 15:12] #15 closed

[2016-08-08 11:37] mickeychu commented on #16
I have the same problem

[2016-08-08 16:41] oferh commented on #16
@mickeychu can you provide a sample?

[2016-08-09 14:30] ArthurJJr opened #17 "All suggestion boxes linked to the same dataService open when typing in one"
Thank you for this wonderful helper!

I'm using an *ngFor and creating several ng2-completers all linked to the same dataService but using different ngModels. When editing one, the Searching... message only appears in the current field's list but once it's complete all the ng2-completer lists appear with the results instead of only the active one. I tried setting unique inputNames for all of them

[2016-08-10 08:34] oferh commented on #17
@ArthurJJr Thanks!
The component opens when data is received from the dataService; The dataService is RxJS stream and the different components subscribe to it and when a search is completed the dataService emits data to all subscribed components which in turn will open and display it.
So you need to change the code to have a dataService per ng2-completer element, check the demo for an example that

[2016-08-10 13:36] ArthurJJr commented on #17
Thanks @oferh, I'll create individual dataServices.

[2016-08-10 16:17] #17 closed

[2016-08-10 18:45] pdinesh80 opened #18 "completerService call from constructor"
@oferh

I have a question do we need to make completerService call always from constructor?
For example, from the demo completerService is called from AppComponent Constructor(), Can i call the service from different method?

Reason is the remote url (or even if i use custom data) has some parameter other than the search parameter(from completer input) , the parameter will be at appComponent which

[2016-08-10 19:31] oferh commented on #18
@pdinesh80 you can call completerService in any section of the code that you need, from your question I guess that you'd probably want to initialize it in `ngOnInit`.

[2016-08-10 20:02] pdinesh80 commented on #18
Thanks @oferh for your reply.

For example if I'm calling the service from a method inside appCOmponent for example callService(), how callService() will be invoked whenever we type on completerInput.

[2016-08-11 07:21] oferh commented on #18
@pdinesh80 can you add a code sample?
`completerService` is a factory that generates  `CompleterData` objects, the `CompleterData` object is the one that performs the search and emits the data to the component.

[2016-08-12 02:11] pdinesh80 commented on #18
@oferh I figured the way, Thanks.

[2016-08-12 02:11] #18 closed

[2016-08-18 03:23] kodeine opened #20 "Example Local Data Structure"
Hello, so i have country .json as following

[code]

How can i use this data for a selector. `this.dataService = completerService.local(this.searchData, ??, ??);`

[2016-08-18 03:31] kodeine opened #21 "Attribute"
I am trying to use this package in IonicFramework so for input fields i have to use ion-input.

[code]

but looks like i have to use `<ng2-completer...</<ng2-completer>` to make it work. Is it possible to set ng2-completer as an attr?

[2016-08-18 03:56] kodeine commented on #13
So i am trying to change css, i have request.page.scss file and i put the following but nothing changes. Any idea what am i doing  wrong?

[code]

[code]

[2016-08-18 05:55] oferh commented on #20
Hi @kodeine,
You have 2 options:
1. Transform the data to an array so there is a field that can be searched and displayed:
[code]
2. Write a custom DataProvider - check the example in the deom page

[2016-08-18 05:58] oferh commented on #13
@kodeine can't see anything wrong with the code you posted, do you have a plunker that reproduces the issue?

[2016-08-18 06:00] oferh commented on #21
@kodeine, not at this point but I'm working on a version that will let you customize the HTML/CSS

[2016-08-19 04:08] kodeine commented on #21
@oferh i'll wait for that then, im unable to use the plugin because of the selector.

[2016-08-19 04:08] #20 closed

[2016-08-19 05:32] steven-nguyen-hcm opened #22 "Support extracting data from Object response"
Hi!

I've just used ng2-completer for some day, but when my project require remote search, the data returned from service has many informations, such as:
[code]
I just want to looking for data in "customer" array, could ng2-completer support this case?

Thank you!

[2016-08-19 06:31] kodeine opened #24 "Google Places as Remote Url"
Any idea's how to approach this for a remote url data completer?

https://maps.googleapis.com/maps/api/geocode/json?address=:query

i tried, `this.dataService = completerService.remote(this.googleGeoCode, 'results.formatted_address', 'results.formatted_address');` without any luck.

[2016-08-19 17:37] oferh commented on #24
@kodeine, thanks for reporting.
This is a duplicate of issue #22

[2016-08-19 17:37] #24 closed

[2016-08-19 18:22] oferh commented on #22
@steven-nguyen-hcm thanks for submitting the issue.
support for extracting the data filed for remote data has been added through the use of `dataField` attribute.

[2016-08-19 18:28] oferh commented on #21
Should be handled when #13 is resolved

[2016-08-22 06:20] kodeine commented on #22
@oferh
i've tried the google demo, i see a bug, if you type the address it will show results, now start pressing backspace one by one, it will not show the results and will say no results (default msg).
Also sometimes the results in http console are shown but the input field keeps saying no results.

secondly, if i change to google maps autocomplete url, i get the cors issue.
[code]

`XMLHttpReque

[2016-08-22 10:12] oferh commented on #22
@kodeine do you have an example of what you typed?
`RemoteData` doesn't necessarily displays all results received from the request it first filters them by searching within `searchFields` of the results for the search term.
So there can be 2 cases in which the results returned by the API will differ from what the component displays:
1. The result includes the search term but not in the search fiel

[2016-08-22 10:18] kodeine commented on #22
@oferh since google returns the results based on the query, we don't need internal matching of the search string, is there a way to disable that and display all the results google api gives?

cors, i understand we cant do anything. so lets ignore that one.

[2016-08-22 10:23] oferh opened #26 "Display all results if searchFields is empty"
This feature is intended to be used mostly for `RemoteData` to prevent additional filtering of the results on the client side.
see issue #22

[2016-08-22 10:23] oferh commented on #22
@kodeine I've opened it as a new issue, I'll probably add support for it in the next couple of days.

[2016-08-22 10:32] kodeine commented on #22
@oferh thanks a lot :+1:

[2016-08-22 17:59] #26 closed

[2016-08-23 11:15] oferh commented on #22
closed by #25

[2016-08-23 11:15] #22 closed

[2016-08-23 17:58] kodeine commented on #6
@oferh anxiously waiting for this and attribute , just fyi, take your time :))

[2016-08-24 14:49] Toby-Mills opened #28 "documentation for use with remote data service"
I have this working successfully with my application, using the demo code with the local data service. Do you have any example of how to use it with a remote data service? I have a REST API to perform the search on a remote database that I'd like to use.

[2016-08-25 03:45] steven-nguyen-hcm commented on #22
@oferh thank you very much for supporting me .

[2016-08-25 05:34] oferh commented on #28
@Toby-Mills there are several examples of remote data in the [demo app](https://github.com/oferh/ng2-completer/blob/master/demo/app-cmp.ts).

[2016-08-25 09:52] Toby-Mills commented on #28
Don't know how I missed that!
Got it working beautifully now - thanks a lot!

[2016-08-25 09:52] #28 closed

[2016-08-26 18:45] criticalbh commented on #13
:host /deep/ .completer-dropdown {
        width: 100% !important;
        position: relative !important;
        background-color: #000000;
        border: 1px solid black;
        top: -10px;
    }

this one works fine

[2016-08-26 21:28] jjacobs3389 opened #29 "Access Data from Remote API With Auth Headers & User Input"
I need a typeahead on my page that will access a remote service that returns a list of matching items. (what a typehead does). However, there are thousands of possible items that can be returned and I don't want to make the call to my service until the user has entered a minimum number of characters.

Once the minimum is reached, my service takes the user input and appends it to my get request to

[2016-08-27 05:49] oferh commented on #29
@jjacobs3389 remote data is loaded when the user input changes not when the component is initialized and it sends the search term to the server so you can send back only the relevant data.

To add authentication you'll need to provide a custom data provider see an example [in the demo](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts)

[2016-08-28 18:46] kodeine commented on #6
@oferh any eta on this? i'm just holding on for this release in my project.

[2016-08-29 04:40] oferh commented on #6
@kodeine it's a big refactoring, so it might take me some time to finish it.

[2016-08-29 09:21] Ks89 opened #30 "Update readme for rc5"
Hi, you should update the readme with

import {CompleterCmp, CompleterService, COMPLETER_DATA_PROVIDERS} from 'ng2-completer';

@NgModule({
  imports: [ ....],
  declarations: [ CompleterCmp ],
  providers: [ COMPLETER_DATA_PROVIDERS, CompleterService ]
 ],
  bootstrap: [ ApplicationComponent ]
})

Or something similar, because directives and providers (in @Component) will be removed in the next r

[2016-08-29 09:32] Ks89 opened #31 "[Question] How can I use a bootstrap input field?"
This project is very good, but all my application is created with inputs/forms of bootstrap 3.

How can I restore the css to use bootstrap? Also, how can I include this component into a form-group (bootstrap3)?

Thank you.

[2016-08-29 22:35] ckemmler opened #32 "component removed from the dom on backspace"
Hi and thank you for an awesome, awesome component!
In case I've been missing something, in my app, the component is removed from the DOM when the last character is deleted
 from the input field using the backspace key.
Is it to be expected and if yes, is there a way to prevent this behaviour? Otherwise, I'm happy to provide you with more info.

Regards,

Candide

[2016-08-30 05:42] oferh commented on #32
@ckemmler thanks!
The component is removed because it the condition in the wrapping `ngIf` is false when there's no data.
At the moment there's no way to prevent this, but a version that will let you customize the CSS and HTML is under work - will take some time to complete though.

[2016-08-30 05:43] oferh commented on #31
@Ks89 thanks for contacting.
see issue #13

[2016-08-30 05:43] #31 closed

[2016-08-30 05:44] oferh commented on #30
@Ks89 thanks, will do.

[2016-09-01 00:04] jhbertra commented on #29
In general, it could be a very simple and useful addition to RemoteData to allow people to set headers on the remote data provider - any interest in a PR for this?

[2016-09-01 00:16] jhbertra opened #33 "Update Importing Architecture to Make Full Use of NgModule"
I propose refactoring the exports of ng2-completer so that instead of using

[code]

developers will be able to import it as a module like so:

[code]

As per the modular architecture recommended in RC5

[2016-09-01 00:33] jhbertra commented on #33
Make that RC 6 as of 45 minutes ago... cue the breaking changes...

[2016-09-01 07:27] oferh commented on #29
@jhbertra sounds good to me, do you want to add `headers` method to `RemoteData`?

[2016-09-01 15:02] jjacobs3389 commented on #29
It would be helpful to if headers could be set on a remote data provider. However, I did get things working the way I needed them with help from your demo.

[2016-09-01 17:08] jhbertra commented on #29
@oferh I've got a PR ready to submit as soon as #34 can be merged.

[2016-09-03 05:46] #33 closed

[2016-09-09 16:35] Cayan commented on #6
I wonder how it would be possible to support https://github.com/angular/material2/blob/master/src/lib/input/README.md

[2016-09-09 21:27] Cayan opened #37 "Async remote service"
I'd like to know your opinion regarding the the remote service.
I believe an async data service would be a better approach than a remote one.
The implementation to fetch and handle the data, probably, would be already done.

In my case, I had to come up with the solution:

    this.dataService = this.completerService.local(this.searchData, 'name', 'name');

    this.userFactory.loadAll().subscribe

[2016-09-10 05:15] oferh commented on #37
@Cayan the local and remote data services are simple tools that were supposed to provide a ready made solution to 2 common cases: loading data that is locally available and loading that from a remote host.
For any other case one can write a custom data provider, this allows to customize both searching and format of the search results.
As for adding a `local-async` data provider I'm not sure there

[2016-09-10 05:19] oferh commented on #6
@Cayan at the moment it's not possible but I'm working on a new version that uses directives and not components and therefore will let one customize the HTML and CSS including the usage of custom input components.

[2016-09-12 07:08] oferh commented on #29
closed by #36

[2016-09-12 07:08] #29 closed

[2016-09-14 08:27] igisav opened #38 "Limit the number of search results"
Is there a way to restrict the number of output entries?
If Completer finds 100 entries, then it overlaps the whole page in the browser.

[2016-09-14 08:40] igisav commented on #37
I have similar problem as Cayan. The backend API have no remote service suitable for  `completerService.remote`. It gives me only JSON with Array of 7000 strings. So there's a need for some `async` service.

I solved this with introducing boolean `isDataLoaded`.
**HTML**:
[code]
**Typescript**:
[code]

[2016-09-14 10:24] oferh commented on #37
@igisav thanks, it gives me a better understanding of the use case your'e requesting.

[2016-09-14 10:28] oferh commented on #38
@igisav You can add `max-height` and `overflow-y: auto` to `completer-dropdown` class to limit the number of displayed results.

[2016-09-14 10:33] andismith commented on #13
I'd like to be able to replace both the template HTML and CSS with my own custom code, but I'm struggling to figure out how I can do this as I would need to override CompleterCmp to change these properties, and I never import this component directly to be able to extend it.

Any thoughts on how I could do this?

[2016-09-14 11:24] oferh commented on #13
@andismith at the moment the only option would be to clone the repo and change it.
I hope to complete the work on [ver-0.2.0](/oferh/ng2-completer/tree/ver-0.2.0) in the next couple of weeks and then it'll be possible.

[2016-09-14 12:08] igisav commented on #38
Thanks.
Another question - How I can search the entries, which begin only with typed chars (and not all entries contained chars)?
Or is there a way to redefine a search function?

[2016-09-14 12:18] oferh commented on #38
@igisav you'll need to create a custom data provider - check the last example in the [demo page](http://oferh.github.io/ng2-completer/)

[2016-09-14 14:02] igisav commented on #38
Thanx a lot.

[2016-09-14 14:02] #38 closed

[2016-09-14 16:05] Cayan commented on #37
@igisav, thanks for the example.

@oferh, I'm working with multiple API's. One returns an array of objects (no judgment) and another returns an objects where the requested content can be found in the data property. So I've got different services to map these data.

[2016-09-15 15:15] Cayan opened #39 "Bump version dependency to angular 2.0.0"
npm install breaks due to peerinvalid Peer ng2-completer@0.1.10 wants @angular/forms@^2.0.0-rc.6

with ng2 final, we can expect semantic versioning to their next releases.

http://angularjs.blogspot.jp/2016/09/angular2-final.html

[2016-09-16 16:49] zkimes opened #40 "Apply class to child input for styling purposes"
Is it possible to add a class to the child input that is generated inside of the ng2-completer directive? Obviously styling can be done without that but we have a project that will potentially use multiple bootstrap style themes and don't want to have to custom style the element for each theme.

[2016-09-17 06:53] oferh commented on #40
@zkimes it's not supported at the moment, not sure it'll be needed in next version but will keep it open.

[2016-09-19 15:51] mrandreev commented on #13
I would like to suggest quick solution using [NgClass](https://angular.io/docs/ts/latest/api/common/index/NgClass-directive.html), but it includes default component style

[2016-09-26 14:15] tmbnh1 opened #41 "Can not search with text unicode"
Hello,

I have a problem with text search in unicode, I use VietNamese language and search with text as "đầm", it can not sent correct text to api.

Please help me!
Thank you!

[2016-09-26 14:31] #41 closed

[2016-09-30 22:32] benjblack commented on #39
Upgraded to 2.0.1 and now also having this issue.

[2016-10-04 05:18] oferh commented on #16
Closing the issue because it's not reproducible.

[2016-10-04 05:18] #16 closed

[2016-10-04 05:28] #13 closed

[2016-10-04 05:28] #21 closed

[2016-10-04 05:28] #39 closed

[2016-10-04 14:01] kodeine commented on #6
@oferh how soon you think @angular/material2 version would be ready? close enough?

[2016-10-04 15:23] oferh commented on #6
@kodeine it's nearly complete and already usable but may take me some time to finalize.

[2016-10-04 20:51] jjacobs33589 opened #44 "Unexpected value 'Ng2CompleterModule' imported by the module 'AppModule'"
I'm trying to use your ng2-completer component inside of an ionic 2 project and I'm getting the following error.

`ngc error: Error: Unexpected value 'Ng2CompleterModule' imported by the module 'AppModule'
    at C:\Users\Hyrum\Documents\ProjectDev\test\ionic-conference-app\node_modules\@angular\compiler\bundles\compiler.umd.js:14109:37
    at Array.forEach (native)
    at CompileMetadataResolver.

[2016-10-04 22:27] jairoGilC opened #45 "Clear selection when search changes"
Is possible implement a `clearSelected` that clear the input if the content don't match with any value in the list of options

[2016-10-05 00:48] kodeine commented on #21
@oferh how to use this attribute? i tried

[code]
but it doesnt work.

[2016-10-05 00:51] kodeine opened #46 "Mouse click doesn't select the item, Enter Key does!"
As the title says, i see that happening in [demo](http://oferh.github.io/ng2-completer/) too.

[2016-10-05 07:28] oferh commented on #45
You mean to clear it if focus is lost or that the user press tab?

[2016-10-05 08:27] oferh commented on #44
@jjacobs33589 I'm not familiar with Ionic but I can see that it uses `ngc` so it might be better to import the source code and not the bundled package. try to:
[code]

[2016-10-05 10:10] #6 closed

[2016-10-05 10:10] #46 closed

[2016-10-05 15:02] kodeine opened #48 "Use via Attribute"
Opening the issue again #21 again, i'm still unable to use the autocomplete if i do like

[code]
Can you share an example how i would be able to do that with material design component?

Thanks

[2016-10-05 16:44] jjacobs33589 commented on #44
I did try that and it yielded a dozen more issues. In looking into it more I came across [this](https://github.com/zyramedia/ng2-chartjs2/issues/7) and wondered if it might be possible to include the metadata.json files with the ng2-completer component.

[2016-10-05 17:06] jairoGilC commented on #45
yes clear the input when lose the focus if not select any option.

[2016-10-06 01:48] kodeine opened #49 "material component error"
Hello,
So i tried the following and i get an error with `ng2-completer-md` but not with `ng2-completer-md` in html.

[code]

[code]

[2016-10-06 02:21] kodeine commented on #49
nevermind, i copied the md component with its style and html and called in declarations it works that way.

[2016-10-06 04:32] kodeine commented on #48
i think i can just take the material component and create my own component based on that.

[2016-10-06 06:04] oferh commented on #48
@kodeine you'll need to create a custome component,
take a look on the material design component [html](https://github.com/oferh/ng2-completer/blob/master/demo/completer-cmp-md.html) and [typescript](https://github.com/oferh/ng2-completer/blob/master/demo/completer-cmp-md.ts)

[2016-10-06 06:06] oferh commented on #49
Yes, `ng2-completer-md` is not exported by the package since it caused errors when `material` was not required so it's only a part of the demo at the moment

[2016-10-06 06:06] #49 closed

[2016-10-06 06:33] supriya2992 opened #50 "Not able to capture blur event"
Is there any way to capture the blur event on ng2-completer component other than (blur) ?
I am able to capture focus event but not blur event.

[2016-10-06 07:00] oferh commented on #50
@supriya2992 is (blur) not working or that you're looking for another way?

[2016-10-06 07:06] supriya2992 commented on #45
If no value is selected from the dropdown for the first time then the value of field is blank **but**
if we select something and then delete the text in ng2-completer, the selected value still remains. Any idea how to clear that value?

[2016-10-06 07:07] supriya2992 commented on #50
@oferh (blur) is not working.

[2016-10-06 09:35] oferh commented on #45
@supriya2992 I think that the general rule should be that if the input text changes the selected (and model) value should be cleared

[2016-10-06 09:42] Malganus opened #51 "Getting field value from serach result"

[2016-10-06 10:06] Malganus commented on #51
solved

[2016-10-06 20:15] jjacobs33589 commented on #48
It looks like you're trying to use the ng2-completer component in an Ionic App. It actually does work fine if you haven't updated to the latest version of Ionic with NgModules.
I have an app written in Ionic beta36 that can use the ng2-completer module just fine. In your package.json just make sure to use this version "ng2-completer": "0.1.8"

Then in your html page where you want to use it here i

[2016-10-06 20:29] jjacobs33589 commented on #21
This works fine in ionic. You don't need to wrap it in ion-input tags.

See my example on this thread [https://github.com/oferh/ng2-completer/issues/48](example)

[2016-10-06 22:10] kodeine commented on #48
@jjacobs33589  thanks, but i needed to use the RC0 of ionic since it supports AOT and other major changes. But i am able to create a custom component, thanks to @oferh for material design sample.

[2016-10-06 22:10] #48 closed

[2016-10-07 05:46] supriya2992 commented on #45
@ofreh not only when selected input changes. I have following scenario:
ng2-completer is a required component. Initially the component is in pristine state.
I want to display an error message "Field is required " when ng2-completer is in dirty state (i.e user has selected some option and value is assigned to model) and  knowingly or unknowingly, user clears the text selected from dropdown. Since t

[2016-10-07 06:01] supriya2992 opened #52 "Form is submitted when we select an option from dropdown using enter key"
I have a ng2-completer component inside my form. When we select an option using mouse click, model gets the selected value.
But if we use **enter key** to select the value, model does get the correct value but along with it even the form gets submitted.

[2016-10-07 07:01] tmbnh1 opened #53 "How to use ng-completer inside directive Form"
Hello,

How to use input autocomplete by ng-completer inside formGroup, when I use ng-completer with formGroup it show error:
 _ngModel cannot be used to register form controls with a parent formGroup directive.  Try using
      formGroup's partner directive "formControlName" instead._

Please help me, Thanks!

[2016-10-07 09:52] oferh commented on #52
@supriya2992 can you provide some sample code?

[2016-10-07 09:52] #51 closed

[2016-10-07 10:14] oferh commented on #53
@tmbnh1 can you add code example?

[2016-10-07 13:52] KANekT opened #54 "how not clear input after select item"
how not clear input after select item?

[2016-10-07 13:53] #54 closed

[2016-10-07 14:09] KANekT opened #55 "textSearching not display in first search"
textSearching not display in first search

in secord and after - textSearching is display

[2016-10-07 16:43] snstarosciak opened #56 "CompleterService.remote().headers() not assignable error"
Hey there,

I have some code for running a search query with some headers attached as following:

`
this.headers = this._users.createHeaders();
this.dataService = completerService.remote('http://localhost:3000/search?q=', 'title', 'title').headers(this.headers);`

However, I keep getting an error: Type 'void' is not assignable to type 'CompleterData'. When I remove the .headers() attribute, it doe

[2016-10-07 17:02] snstarosciak commented on #56
So I realized that the problem was that I was importing CompleterData, instead of RemoteData from ng2-completer.

My import statement should have been: `import { CompleterService, RemoteData } from 'ng2-completer';`

The headers are sending just fine now.

[2016-10-07 17:02] #56 closed

[2016-10-07 17:13] kodeine opened #57 "Override Remote http.get in remote search?"
Hello,
Is there a way to override this.http.get in remote search? i actually want to use data decryptor instead of  `.map((res: Response) => res.json())` or the best bet is to fork the repo and change it there.

Thanks.

[2016-10-07 23:13] ssougnez commented on #40
+1 for this one :-p

What do you have in mind for the next version? Because if it's because you don't have time, maybe I could have a look :-$

[2016-10-08 19:05] oferh commented on #57
@kodeine there's no need to fork the repo you can create a custom data provider see [here](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts)

[2016-10-08 19:17] oferh commented on #40
@ssougnez there are multiple things I'd like to do in the next version:
1. close bugs that were reported - already started working on that
2. document how to create a custom component
3. improve the demo: better design for it and add code samples
4. add automatic tests
5. add the enhancements that were requested here - already started working on one one of them

Code contribution would be more the

[2016-10-08 19:25] oferh commented on #32
@ckemmler, you can now create a custom component that will have a different behavior.
hope it helps.

[2016-10-09 09:57] #55 closed

[2016-10-09 09:59] #50 closed

[2016-10-09 10:00] oferh commented on #37
Added the ability for `LocalData` to get an `Observable` as input

[2016-10-09 10:00] #37 closed

[2016-10-10 08:18] supriya2992 commented on #50
hey thanks. It's working now.

[2016-10-10 08:21] supriya2992 commented on #52
Yes sure. Here is the simple example:
<form class="form-horizontal" novalidate (submit)="submit(registerForm.value,registerForm.valid)" #registerForm="ngForm"
                        method="post">
	<div class="form-group">
		<ng2-completer name="nationality" [dataService]="dataService1" [minSearchLength]="1" ngModel #nationality="ngModel" 	required>
        </ng2-completer>
</form>

I have not ev

[2016-10-10 08:25] oferh commented on #50
thanks for reporting it.

[2016-10-10 08:27] supriya2992 commented on #52
I tried to write the code but somehow the form tag  is not getting included while posting the comment.
I am attaching a file containing a small code snippet for your reference.

If you see the code, i don;t have a submit button there. I have a submit function on form which is getting called when I select the option from dropdown using enter key
[ng2-completer_issue.txt](https://github.com/oferh/ng

[2016-10-10 12:50] KANekT opened #58 "Question: How i can use post?"
Questions:

1. How i can use ajax post query with remote url?
2. Is exits event on clear input ?
3. How set value on input ?

for example - i have 3 dropdown for geo: Country/Region/City

When i select City - need set value for Country and Region
If i clean input Region - I do not want to the value sent to the server

[2016-10-10 14:37] oferh commented on #58
Hi @KANekT,

Either use the local with an `Observable` input or create a custom data provider

Not at the moment but the general direction is that the model will be cleared + `selected` event with null

you can listen to `selected` and `highlighted` events and set other values when they change

[2016-10-10 21:19] kodeine opened #59 "making the field required?"
So i wanted to make the field required, i tried adding `formControlName="address"` and in formControls `address: ['', Validators.required],` but it does not work.

Am i missing anything?

[2016-10-10 23:12] kodeine opened #60 "AOT support"
Hello,
Does it support AOT, i tried to compile but i get the error `Error: Unexpected value 'Ng2CompleterModule' imported by the module 'AppModule'
`

[2016-10-11 08:04] oferh commented on #59
Hi @kodeine, please check the demo [here](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.html#L83)

[2016-10-11 08:09] oferh commented on #60
@kodeine,
I think you can use AOT if you import the source files and not the bundle:
[code]

let me know if it worked

[2016-10-11 11:25] LUS1N opened #61 "Bind selection to the object, not just to the search string."
Hey,

Is it possible to select the whole object and not just the string that identified it?

In the example searchStr is a string, so if I want to do something with the whole object that was selected, I need to go through the whole data provided to dataService and find which object was selected by filtering the whole list.

[2016-10-11 11:31] LUS1N commented on #61
Nevermind, I found out how to do it.

use (selected) event, which returns an object with a field 'originalObject' which contains the whole object from the list.

[2016-10-11 11:31] #61 closed

[2016-10-11 14:13] kodeine commented on #60
i'll give it a try tonight and let you know.

[2016-10-12 02:55] pablo28jg opened #62 "can't set css class"
can't set css class

[2016-10-12 07:17] MrJuliuss commented on #62
Hi, same issue, styles seems to be reset.

[2016-10-12 19:20] oferh commented on #62
@pablo28jg @MrJuliuss can you add sample code?

[2016-10-13 05:51] KANekT commented on #58
Thank you

[2016-10-13 05:51] #58 closed

[2016-10-13 07:58] oraymundo opened #63 "How can i access to the input value?"
In case the searching text of the input doesn't match any result, how can I access to that value from the component?

According to the readme, there is this string : private searchStr: string;
but when I use console.log(this.searchStr), I just get undefined

[code]

[2016-10-14 05:04] armno commented on #44
@oferh importing the source module brings another error from `ngc`

[code]

Probably `ngc` doesn't work with `require()` in `CompleterListCmp` ? https://angular.io/docs/ts/latest/cookbook/aot-compiler.html#!#tree-shaking (notes in Rollup section)

[2016-10-14 05:28] armno commented on #44
Followup from my last comment, I commented out all `require()` in all components and use HTML and CSS paths in `@Component` decorator, `ngc` produces another error

[code]

which are these 2 lines

[code]

I changed to this

[code]

Which then the errors from `ngc` was gone but I'm not sure what I was doing. Totally not familiar with using `@Inject()` decorator 😅

[2016-10-14 07:53] gucheen commented on #60
[code]

While using ng2completer from 'src', get above errors.

In addition, 'src/index.ts' might be some errors.
[code]
should be
[code]
So that, `import { Ng2CompleterModule } from "ng2-completer/src";`  could be work correctly.

[2016-10-16 11:32] SadatAnwar commented on #52
hmm and for me, the mouce click doesnot seem to have any effect! ( i do have `overrideSuggested="true"`)

here is the code bit

[code]

[2016-10-16 12:27] SadatAnwar commented on #46
I have 0.2.2 and the mouse click is not selecting.. what am I missing?
ping @oferh

[2016-10-16 15:55] kodeine opened #65 "Angular Universal Support?"
Any plans to support universal support?

[2016-10-17 20:28] SadatAnwar commented on #52
@oferh so I did some research into my problem and I realize why it was happening, I personally feel its a bug, but your opinion could differ.
As guessed, it is caused because of the `overrideSuggested="true"`. What I feel should happen even in this case is, if the user selects an item from the dropdown i.e.

0. dropdown is present AND
0. item is highlighted AND
0. overrideSuggested is TRUE

still

[2016-10-19 14:02] #32 closed

[2016-10-19 16:21] ckemmler opened #66 "systemjs usage issues"
with a `system.config.js` like advertized:

[code]
and
[code]
I get the following errors:
[code]

I tried a whole lot of variations, including various library versions, without success. It seems to be really hard to get the logic of systemjs, btw. Any pointers on module formats and what ng2-completer is using?

I'm using:
    "ng2-completer": "^0.2.2",
    "systemjs": "0.19.27",

[2016-10-19 22:05] jairoGilC opened #67 "EXCEPTION: Observable_1.Observable.throw is not a function in remote service"
HI, I am try with remote data, but using a [FAKE API](https://jsonplaceholder.typicode.com/todos) for test get the following error  `EXCEPTION: Observable_1.Observable.throw`

[code]

I check usign a local API and get the same error; the extrange is that when using the API that you use in the [example](https://raw.githubusercontent.com/oferh/ng2-completer/master/demo/res/data/countries.json?) it w

[2016-10-20 07:05] KANekT commented on #63
use `<ng2-completer  name="searchStr" [(ngModel)]="searchStr" #searchStr="ngModel"  [dataService]="dataService" [minSearchLength]="0"></ng2-completer>`

[2016-10-20 07:15] KANekT commented on #52
I have this error two :'(

[2016-10-20 15:55] #66 closed

[2016-10-20 18:15] oraymundo commented on #63
Hey thanks for your help, I tried that but i get the next error ```zone.js:355 Unhandled Promise rejection: Cannot assign to a reference or variable! ; Zone: <root> ; Task: Promise.then ; Value: Error: Cannot assign to a reference or variable!(…) Error: Cannot assign to a reference or variable!```

This is the code i have used ```<ng2-completer class="form-control"  name="writerName" [(ngModel)]="

[2016-10-20 18:21] oraymundo commented on #63
Found the solution, the local variable name should be different.
``` name="writerName" [(ngModel)]="writerName" #writerName1="ngModel" ```
Thanks

[2016-10-21 10:21] supriya2992 commented on #52
@oferh  any progress on this issue?

[2016-10-21 10:37] kamran-pervaiz commented on #62
I have the same issue, I added a home component and a custom data

<ng2-completer [(ngModel)]="searchStr" [dataService]="customData" [minSearchLength]="3" [placeholder]="'search for factory'"
                   [textSearching]="'Please wait...'" (selected)="onSelected($event)"></ng2-completer>

http://stackoverflow.com/questions/40172248/angular-2-ng2-completer-avoid-http-dependency-injection-in-s

[2016-10-22 17:47] kodeine commented on #60
`import { Ng2CompleterModule } from "ng2-completer/src";` works but i think we should have something auto detects because if i'm not using AOT i have to change this import again, i've noticed other libraries dont need to change the paths when i use AOT.

[2016-10-24 14:20] sudhirroy-tudip opened #68 "How can I access to model value on keypress event?"
how can I access to model value on key press so I update dataservice ??

[2016-10-24 18:07] oferh commented on #68
@sudhirroy-tudip you can create a custom data provider to do that.

[2016-10-24 18:10] oferh commented on #65
@kodeine not at the moment

[2016-10-24 18:11] #63 closed

[2016-10-24 18:22] sudhirroy-tudip commented on #68
Can you give me an example how can I do that? Please

[2016-10-24 18:40] oferh commented on #44
@armno it's not `Inject` that caused the issue it's about `ngc` and  the need for the code to statically analyzed

[2016-10-24 18:45] oferh commented on #52
@supriya2992 not yet - had no time to work on it in the last couple of weeks

[2016-10-24 18:49] oferh commented on #60
@kodeine I think I'll change the package to contain compiled `.js` and `d.ts` files as default and leave the bundles for use if someone needs them.
This will probably make it easier to use the package for System.js and AOT

[2016-10-24 18:52] oferh commented on #68
Check the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts)

[2016-10-24 21:58] damienbod commented on #60
Thanks for the great component. Would be great if AoT was supported.

Greetings Damien

[2016-10-25 02:38] armno commented on #44
@oferh any guide on how to transform those 2 lines into something that can be statically analyzed by `ngc`? for example, use exported functions like what ng2-translate did here https://github.com/ocombe/ng2-translate#usage

[2016-10-27 05:31] manofearth opened #69 "Problem with OnPush change detection strategy"
May be bug.

I don't see dropdown when using ChangeDetectionStrategy.OnPush.

Here is plunker example: https://plnkr.co/edit/tDdhfjpGsAAPe0B4jVWb?p=preview

I found awkward workaround:

[code]

But I'm shure, it possible to be done better.

[2016-10-27 17:33] kodeine commented on #60
@oferh so i changed the import to `import {Ng2CompleterModule} from "ng2-completer/src/index";` and AOT compiles properly. But application when run gives error, ` Uncaught Error: Cannot find module "ng2-completer/src/index"`

But if i change the import to `import {Ng2CompleterModule} from "ng2-completer"` it doesnt even compile!
[code]

[2016-10-27 22:36] pakbaz opened #70 "Template parse Error in angular cli project"
I am trying to use this in my angular 2 Cli project. I think I have everything setup correctly.
Here is what my app module look like:

[code]

and here is what my component looks like (used the example):

[code]

I get this error when I run the project

[code]

[2016-10-28 10:41] oferh commented on #44
related to #60

[2016-10-28 11:10] oferh commented on #70
It's hard to tell without the full source code, can you try using ng2-completer not as a nested component and see if you still get the error?

[2016-10-28 11:23] oferh commented on #62
This is probably due to angular's [view encapsulation](http://blog.thoughtram.io/angular/2015/06/29/shadow-dom-strategies-in-angular2.html) please try :

[code]

[2016-10-28 13:11] oferh commented on #45
fixed in ver 0.2.3

[2016-10-28 13:11] #45 closed

[2016-10-28 15:04] dspinetti opened #71 "Problem with RequestOptions "withCredentials: true""
Hi, I have this code
`this.completerService.urlFormater(
      (term) => { return BaseHttpService.BASE_URL + "/api/subjects?filter=${term}"; }
     );
this.completerService.headers(BaseHttpService.def_headers);`

How can I manage the RequestOptions? I have to specify the withCredentials param as the code below:
`let options = new RequestOptions({ headers: BaseHttpService.def_headers, withCredentia

[2016-10-28 15:34] gelliott181 commented on #70
I too use the CLI at version beta.16 currently. I'm able to import and use the component with all your properties, however I import inside of a submodule because I lazy load. Do you only have an app.module?

[2016-10-28 15:46] gelliott181 commented on #40
Hey @zkimes, in case you aren't aware of it, I'd look at deep piercing CSS using the `:host >>>` psuedoclass to style the internal component classes.

[2016-10-28 15:57] gelliott181 commented on #62
Please check out [shadow piercing CSS](https://drafts.csswg.org/css-scoping/#deep-combinator). This will allow you to get around view encapsulation.

[2016-10-28 17:39] PeterZainzinger commented on #52
Just in case somebody else has the same problem, this is a workaround for the moment

handle keydowns events like

`  <form (keydown)="keyDownFunction($event)"> `

and then prevent default for enter events:

[code]

[2016-10-29 03:13] kodeine commented on #44
@oferh there were some errors because at some places templates are using variables which were set as private in ts. so aot cant export that properly. I'll write those variables when i get home.

[2016-10-31 02:43] kodeine commented on #44
@oferh

[code]

[2016-10-31 15:24] pakbaz commented on #70
Sorry for late response. I got it working. it was because I had it defined in both app module and my nested module again.

[2016-10-31 15:24] #70 closed

[2016-10-31 16:37] gelliott181 opened #72 "Cannot access entered text when not selected from list"
I have a form where we have a set of pre-defined objects that users may choose from along with a requirement to allow custom entry. I was wondering if there's a reason the NgModel doesn't update unless an object is selected rather than as it's typed. It seems like that's how it should function in the first place. Also, can I access the input's model when the entry is typed by some other method?

I

[2016-11-01 15:30] pakbaz opened #73 "Input box doesn't have a type!"
Input box should have type="search" attribute or preferably directive property to adjust it. somehow IE figures its a search field and add clear (x) button for clearing the search but chrome doesn't have that and you have to manually clear the searchbox after selection.

[2016-11-01 19:23] kodeine commented on #60
@oferh any idea on how this would be ready, i can launch my application to production until i have this with AOT :) but thanks for your time to make such a wonderful package.

[2016-11-02 10:36] jkyadav opened #74 "TS5023 Build:Unknown compiler option 'forceConsistentCasingInFileName'"
After installing the ng2-completer I am getting this error.

My ts config is as below.

`{
  "compilerOptions": {
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "module": "commonjs",
    "moduleResolution": "node",
    "noImplicitAny": false,
    "outDir": "../wwwroot/app/",
    "removeComments": false,
    "sourceMap": true,
    "target": "es5"
  },
  "compileOnSave":

[2016-11-03 13:20] gelliott181 opened #75 "(Development) NPM Run Clean fails in a fresh install"
I recently forked the component to work on some changes, and I found an issue immediately on install. After running the `npm install` command NPM attempts to run `npm run clean && npm run build:prod && npm run build:dev`. The script errors out with multiple issues in all three scripts (clean, build:prod, and build:dev)

If you run `npm install` again the failing command as per NPM is `del bundles

[2016-11-04 10:54] farantesrodrigues commented on #44
Hi guys, I guess you already know about this issue but just to let you know that I tried installing via jspm and it also fails :

Error: (SystemJS) Unexpected value 'Ng2CompleterModule' imported by the module 'PublicModule'
	Error: Unexpected value 'Ng2CompleterModule' imported by the module 'PublicModule'
	    at eval (https://192.168.33.33:3000/jspm_packages/npm/@angular/compiler@2.0.2/bundles/c

[2016-11-04 14:23] gelliott181 commented on #72
A note, I've modified my local installation to emit the string when it changes, but this doesn't really match the behavior one would expect from NgModel.

[2016-11-04 16:28] spinettaro commented on #75
The developer enviroment is Linux and all commands in scripts section are made for Linux enviroment. I'm on Windows and I had to rewrite the commands (ASAP I'll make a pull request with modifications): for example build:prod in windows becomes: "win:build:prod": "SET NODE_ENV=production & webpack --progress --color". Now it works.  Are you in Windows?

[2016-11-04 18:49] gelliott181 commented on #75
I am, my workplace is all Windows, and I never even tried it on my Linux
machine. I'll check out your changes when I get back in the office Monday!
On Fri, Nov 4, 2016 at 12:28 PM Daniele Spinetti <notifications@github.com>
wrote:

[2016-11-04 18:53] gelliott181 commented on #75
Now that I realize I'm staring at Bash commands everything makes perfect
sense. Clearly I've been spending too much time playing with batch commands.
On Fri, Nov 4, 2016 at 2:49 PM Grant Elliott <gelliott181@gmail.com> wrote:

[2016-11-05 08:00] oferh commented on #75
@spinettaro @gelliott181 yes dev env is mac or linux. @spinettaro it would be great if you can add a PR for windows build.

[2016-11-05 08:07] oferh commented on #72
@gelliott181 the reason is that the output of this component is the selected value so it only changes when a value is selected unless `overrideSuggested` is used and then it should contain the last value of the input even if nothing has been selected.

[2016-11-05 08:08] oferh commented on #74
@jkyadav what's your typescript version?

[2016-11-05 12:45] gelliott181 commented on #72
So if I understand correctly the proper trigger to put the input into the
model would be setting that true after text is entered? I ask because when
I had previously tried I had been setting it true for the entire lifecycle
of the component, and that only produced an empty model any time I checked
the value.
On Sat, Nov 5, 2016 at 4:07 AM Ofer Herman <notifications@github.com> wrote:

[2016-11-06 19:14] kodeine commented on #60
@oferh maybe make AOT a priority? we're unable to release a product until we have AOT support. Thanks in advance.

[2016-11-07 17:33] oferh commented on #60
@kodeine it's a priority but my velocity is rather low these days - if you can create a git repo with a test project it can assist me.

[2016-11-11 05:03] kodeine commented on #60
@oferh i've made a test repo for you so you can easily play.

https://github.com/kodeine/completer-test

[2016-11-11 15:10] oferh commented on #60
@kodeine thanks

[2016-11-11 18:07] TheoGit opened #77 "ng2-completer style; it seems to ignore width attribute - any suggestions on styling"

[2016-11-12 08:40] oferh commented on #77
@TheoGit please check #62

[2016-11-14 17:53] TheoGit commented on #77
Thanks!

[2016-11-14 20:23] #77 closed

[2016-11-15 17:03] TSGames opened #78 ".completer-selected-row is missing in the description"
Please add the .completer-selected-row css-class to the css classes list, thanks!

[2016-11-15 17:08] TSGames opened #79 "Option for custom html code as image"
I would like to add a Material Icon as an image, which uses an icon font. Is there any way to do submit a html code as an iamge?

[2016-11-16 08:14] oferh commented on #72
in all cases the model value is set only when a selection is made or focus is lost.
if you want to get the input value as it changes the only way to do that at the moment is to write a custom component.

[2016-11-16 08:17] oferh commented on #79
@TSGames only if you create a custom component.

[2016-11-16 08:56] TSGames commented on #79
Isn't there an easy way to add an attribute option for htmlBefore and htmlAfter to create something like this? I guess a lot of users would need this, since using icon fonts is pretty common.

[2016-11-16 09:49] oferh commented on #79
injecting HTML is something I'd rather not do.
I thought about using content projection for the dropdown row for those that just want to modify it without customizing the rest of the component.

[2016-11-16 16:38] KANekT opened #80 "v0.2.3 not show completer-list-item"
after update from v0.2.2 to v0.2.3 - not show completer-dropdown-holder

[2016-11-16 16:59] kbdguy commented on #40
The class is there, now, I see (completer-input).  It would be great to accept an inputClass parameter (like you do for matchClass).  Then I could specify my bootstrap class "form-control" to have it match my other inputs.

[2016-11-16 18:04] gelliott181 commented on #72
Ahh, then it seems I found a bug because my model never set on blur even with `[overrideSuggested]="true"`. I'll see if I can reproduce it in a minimal project, but I solved the foremost issue in my project where I needed the model value on submission which could happen before the input loses focus.

[2016-11-17 08:25] damienbod opened #81 "originalObject is null for CompleterService in version 0.2.3"
completer no long works

[2016-11-18 07:47] oferh commented on #80
@KANekT can you add some more details?

[2016-11-18 08:53] KANekT commented on #80
https://s.mail.ru/8xRB/YGtkCZ84Q

not showed

in demo use 0.2.3?

[2016-11-19 08:28] oferh commented on #80
@KANekT the demo uses 0.2.3 and it shows both the title and the description.

[2016-11-19 08:49] oferh commented on #60
@kodeine AOT works with `new-deploy` branch but I hit this error: https://forum.ionicframework.com/t/ionic-build-module-has-no-exported-member-wrapper-toolbaritem/68439
so needed to downgrade Angular version

[2016-11-19 22:07] SebastianStehle opened #82 "Annoying flickering when clearing data"
Hi,

thank you for this nice component, works almost perfect.

I have a fast remote api (< 70ms). The items get cleared whenever the text changed. This is very annoying because it is flickering. If you look to other autocompletions, e.g. google or jquery autocomplete you see, that this problem does not occurs there. I would recommend to use a timer and to clear the results after one second or so.

[2016-11-20 07:33] oferh commented on #82
@SebastianStehle, thanks for the suggestion - will add it to one of the next versions.

[2016-11-20 07:34] oferh commented on #81
@damienbod do you mean that it's always null ro that there is some use case in which it is null?

[2016-11-21 14:57] Hiblton opened #84 "Open dropdown programmatically."
Hi everyone.
How to open suggestion list by force?
I'd like to do additional request for fetching data and show it in the suggestion list.

[2016-11-22 21:56] sudarsanan opened #85 "Restrict the No of Items displayed in the autocomplete"
Hi,

How to configure the number of items displayed in the dropdown (autocomplete).

Thanks,
Sudan

[2016-11-23 03:20] oferh commented on #85
Hi @sudarsanan, see issue #38

[2016-11-23 03:32] oferh commented on #84
Hi @Hiblton there's no way at the moment to open it programmatically.

[2016-11-24 11:24] Rudde commented on #62
@oferh How could I use /deep/ on css frameworks such as bootstrap? I would like it to use the "form-control" class to get the bootstrap look and feel, but it seems problematic to add this class to the directive? :S

[2016-11-24 14:32] usmanwalana opened #86 "How to use with model driven forms?"
I have a complex form where i want to use `ng2-completer` at three different places. Currently i am using simple html select to display the list. I am using angular 2 model driven forms to handle the form. I want to replace the select list with `ng2-completer `using model driven approach. Is it possible to do so or do i have to change the whole form into template driven approach?

[2016-11-26 18:04] Juraji opened #87 "Remove inline style"
I've noticed "src/components/ng2-completer/completer-cmp.ts" imports the CSS for the dropdown using Angular2's Component annotation. This makes it fairly hard to customize the style of the dropdown, like having to add "!important" to all my custom rules to make the work.

Would it be an idea/possible to extract this stylesheet and maybe put it in the root of the project for people to import into t

[2016-11-27 15:34] shamim4063 opened #88 "How to use ng2-completer with Data Driven (Reactive) Form"
I have following form which I use for validation. Now I want to use ng2-completer with this form. Is it possible?

        <!--<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid}">
                <label>First Name:</label>
                <input class="form-control" type="

[2016-11-28 15:10] ethemsulan opened #89 "No Result Found Search Complete"
i want to call method(do something) when textNoResults text is showing. i mean when i search result did not found anything i want to open dialog.

[2016-11-28 18:58] kefkef5 commented on #88
@shamim4063 I have used ng2-completer with Reactive Forms, not sure if it is recommended to use both type of forms, but yes it's possible.

[2016-11-28 20:15] kefkef5 commented on #86
https://github.com/oferh/ng2-completer/issues/88 @usmanwalana

[2016-11-29 06:03] #78 closed

[2016-11-29 07:02] oferh commented on #74
closed in `0.3.0` - removed tsconfig from the package

[2016-11-29 07:02] #74 closed

[2016-11-29 07:02] #81 closed

[2016-11-29 15:25] simoazzo opened #92 "How to use the ng2-completer with other way of bootstraping the application"
Hi Guys,

Can you please guide me how to use the ng2-completer with the other way round if I have bootstrapping?

I do not have AppModule. I have the following, from the angular2-seed project:

[code]
But I cannot make it working.

This is the exception thrown when trying to pass the injection for Completer Service in Constructor:

[code]

Any help would be much appreciated.

Kind Regards

[2016-11-29 15:51] simoazzo commented on #92
How can I add the module if using the bootstraping way?

Thank you

[2016-11-29 16:49] oferh commented on #44
`ngc` is supported in `0.3.1`

[2016-11-29 16:49] #59 closed

[2016-11-29 16:51] #57 closed

[2016-11-29 16:51] #68 closed

[2016-11-29 19:44] kodeine commented on #60
@oferh i got this error on build

[code]

[2016-11-30 16:28] chaka7 opened #93 "typed event"
Is it possible to add a typed event or something similar to do stuff externally when we type in the control?
For example if I type some stuff, select a result item I assign the selected object to a property.
If I select the whole text from your control and delete it, the token assignes to the ngModel stays as the selected object name which prevents us to handle deletions!

[2016-11-30 17:16] chaka7 commented on #89
If you are using a custom completer you can subscribe to it and check if the results are empty like this:
this.customCompleterData.subscribe((completerItems:CompleterItem[]) => function(completerItems:CompleterItem[]){
            if(completerItems.length === 0){
                     //textNoResults should show up at this point
            }
        })

[2016-11-30 17:24] d-damien opened #94 "JSON parse error"
Hello,

I have a component that defines a service at init like that :
[code]

JSON served by npm start :
[code]

It's UTF8 :
[code]

Unfortunately, when I write something in the field, console says :
`JSON.parse: unexpected character at line 1 column 1 of the JSON data`

Browser : Firefox 50.0

[2016-11-30 18:17] kodeine commented on #60
@oferh any idea's?

[2016-11-30 19:55] jjacobs33589 commented on #44
Thank you! I added this into my project yesterday and it appears to be working just as it should. No build issues

[2016-11-30 19:55] #44 closed

[2016-12-01 05:43] oferh commented on #60
Looks like you'll need to upgrade the angular version you are using:
https://github.com/angular/angular/issues/13057

On Nov 30, 2016 20:17, "Kodeine" <notifications@github.com> wrote:

@oferh <https://github.com/oferh> any idea's?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/oferh/ng2-completer/issues/60#issuecomment-263

[2016-12-01 06:02] kodeine commented on #60
i'm using
[code]

I was able to temporarily fix the issue by editing all ng2-completer metadata files to version 1 instead of 2.

[2016-12-01 06:21] Amruthls commented on #85
Hi @oferh i tried max-height and overflow-y: auto to completer-dropdown class but its now working.
here is my css code.
`.completer-dropdown-holder{
  overflow-y: auto !important;
  max-height: 100px !important;
}`
this is my html code.
`<ng2-completer  placeholder="Enter Your Locality Name" class="overlay" [dataService]="dataServiceForLocality" [minSearchLength]="3" [fieldTabindex]="2" [(ngModel)

[2016-12-01 13:37] d-damien commented on #94
Temporary solution : use Http in ngOnInit().

1. Don't forget to include it
[code]

[code]

[2016-12-02 09:42] Shahor opened #96 "Hide already selected data from dataSource"
Hello there o/

I'm trying to have the data being updated when an item is selected, in order to avoid presenting the user with options he has already selected but I can't find a good solution for that right now.

The way I'm doing it right now is onSelected I rebuild the dataService given to the completer.
Did I miss something in the docs, or is this just not implemented yet?

Cheers o/

[2016-12-04 20:58] oferh commented on #92
according to angular [changelog](https://github.com/angular/angular/blob/master/CHANGELOG.md) the way you are using is not supported since of rc.5:

[code]

[2016-12-04 21:23] oferh commented on #62
At the moment if you want to apply bootstrap styles I'd recommend that you create a custom component like the one created for [material design](https://github.com/oferh/ng2-completer/blob/master/demo/material-cmp.ts)

[2016-12-04 21:42] oferh commented on #67
the data from this API is constant so there is no need for the remote API.
You can fetch the data using `http.get` and pass it to the local API like this:

[code]

[2016-12-04 21:49] oferh commented on #52
As a part of the fix first press on enter will select the value the 2nd will pass the keypress to the form

[2016-12-06 08:53] SebastianStehle commented on #96
You can just implement a custom data service, this works pretty well for me.

[2016-12-06 09:48] Shahor commented on #96
Wouldn't this make sense to implement in the library though? In order to avoid having everyone implementing their own in-house weird solution?

[2016-12-06 10:34] spinettaro commented on #72
I think that the NgModel have to match the text entered in input field. When an object is selected the NgModel correspond to selected object. For other consideration is also useful the selected  event handler. @oferh  Are you working to solve this issue in this way?

[2016-12-06 12:04] intergleam opened #97 "ngModelChange doesn't work"
not sure if it's an expected behaviour but `ngModelChange` doesn't seem to be working. BTW do you have a codepen demo that I can fork?

[2016-12-06 12:15] DODMax opened #98 "Unmet peer dependency error on RC3"
It seems that this component is not compatible with current Ionic2 release (RC3).
Is this expected?

During the install I get:
[code]

Ionic2 RC3 package.json dependencies:
[code]

This package dependencies:
[code]

[2016-12-06 13:27] intergleam commented on #60
ok

helps but how to fix this issue?

[2016-12-06 14:56] oferh commented on #98
you need to use `nightly` version of `ionic-angular`
see an example here: https://github.com/kodeine/completer-test

[2016-12-07 05:10] alan345 opened #99 "Get value and/or color once selected"
Hi! great package ! Thanks a lot

Once a color is selected, how can I have the value?
I.E: When I select green, if I do a console.log(searchStr); I have "green". Great, but now how can I have the value? here it is: #0f0

Thanks a lot

[2016-12-07 09:54] oferh commented on #99
@alan345 Thanks!

you should handle `selected` events and use `originalObject` property of the `CompleterItem` parameter.

[2016-12-07 15:17] oferh commented on #60
@kodeine @intergleam make sure that you don't have an older version of `ngc` installed.
it is part of `@angular/compiler-cli`

[2016-12-07 16:42] alan345 commented on #99
Thanks !!

[2016-12-09 13:49] d-damien opened #100 "searchFields and titleField are mandatory"
It would be great to make them optional, so that we can give it a simple array. As of now, I always have to write things like
[code]

Or maybe I did not understand how to use your component.

[2016-12-11 16:55] oferh commented on #100
@d-damien it's already partially supported but it can be that if the data is an array of strings both `searchFields` and `titleField` won't be required.

the idea is that you can pass an array of objects and let the component use one of the object properties as title and do the search based on other properties.

b.t.w you can write it this way at the moment:
[code]

[2016-12-11 16:56] #99 closed

[2016-12-11 17:06] oferh commented on #97
@intergleam no codepen demo but you can check the demo that is part of this repo.

[2016-12-11 17:08] #52 closed

[2016-12-13 16:23] guillaume-at-palo opened #101 "AutoMatch doesn't remove binded value if nothing match (angucomplete-alt does)"
Hi,

Scenario on http://oferh.github.io/ng2-completer/#/native
In AutoMatch section, fill in "France". The resulting label (below) show "Selected: France"
Remove the "e" in "France"
The label is still "Selected: France" (wrong behaviour)

Scenario : on https://ghiden.github.io/angucomplete-alt/#example11
In AutoMatch (Example 11) section, fill in "France". The resulting label (below) show "You sel

[2016-12-15 07:38] AilisObrian opened #102 "Where is the version 0.3.2 commit?"
`npm install --save ng2-completer` will install ng2-completer@0.3.2, not 0.3.1 (currently latest at master branch).
You can also check this at https://www.npmjs.com/package/ng2-completer

[2016-12-15 07:42] AilisObrian commented on #102
and I couldn't find it at [the changelog](https://github.com/oferh/ng2-completer/blob/new-deploy/CHANGELOG.md), [releases tab](https://github.com/oferh/ng2-completer/releases) and tags.

[2016-12-15 07:50] AilisObrian opened #103 "Why version 0.3.2 requires @angular/*@2.2.4?"

[2016-12-15 08:15] AilisObrian commented on #102
diff between [ng2-completer-0.3.2.tgz from npmjs](https://registry.npmjs.org/ng2-completer/-/ng2-completer-0.3.2.tgz) and master were briefly:
- #103 @angular/*@^2.2.4 not 2.2.2
- _hasHighlited added

[2016-12-15 14:54] papayaglobal commented on #102
@AilisObrian thanks for pointing that out I should invest some time to automate the deployment process and prevent such errors.

[2016-12-15 14:56] oferh commented on #102
@AilisObrian thanks for pointing that out I should invest some time in deployment automation to prevent such mistakes

[2016-12-15 14:56] #102 closed

[2016-12-16 04:08] finzaiko opened #105 "Using formControlName"
Hello,

I got this error: Cannot read property 'search' of undefined
using this formControlName

`<ng2-completer [(ngModel)]="equipment.eqName" formControlName="eqName" [dataService]="dataService" [minSearchLength]="0"></ng2-completer>`

[2016-12-16 12:07] d-damien commented on #100
Thank you for accepting it as enhancement !

[2016-12-16 13:14] d-damien commented on #84
Could you also add an option to auto open it at (down) key press ? To explore when you have no idea what to type.

[2016-12-16 13:26] d-damien opened #106 "Guess the dropdown best opening direction"
Opening the dropdown might cut it when there is a better possibility. If guessing is not possible, a simple option to tell it up or down would be wonderful.
![fields](https://cloud.githubusercontent.com/assets/16645947/21264198/40248ec0-c39b-11e6-9013-eb00ce7d1480.png)

[2016-12-16 18:35] oferh commented on #105
@finzaiko looks like `dataService` is not initialized

[2016-12-16 18:39] oferh commented on #103
will try check what is the minimal android version that it works with and set it instead

[2016-12-17 02:44] finzaiko commented on #105
I forgot that one, Thanks @oferh

[2016-12-17 02:44] #105 closed

[2016-12-20 07:14] #103 closed

[2016-12-20 07:15] AilisObrian commented on #103
currently, ^2.3.1 works.

[2016-12-20 08:52] Seeker93 opened #107 "How to read data from localhost?"
Hi

I have successfully implemented the autocomplete bar using the example data, but I am struggling with making it work using a localhost url.

I have json being exposed on localhost:8080 in the following form:

[code]

I have tried updating the dataservice in the following way

`this.dataService = completerService.local('http://localhost:8080', 'name', 'name');`

But the searchbar returns no res

[2016-12-20 09:27] oferh commented on #107
Hi @Seeker93,
although the hostname is `localhost` it's still remote data please use remote:
[code]

[2016-12-20 09:39] Seeker93 commented on #107
Hi, oferh. I forgot to add that I did try remote, and was met with the following error (once I type in 'a' in the search bar)

`XMLHttpRequest cannot load http://localhost:8080/a. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. The response had HTTP status code 404.`

[2016-12-20 09:45] oferh commented on #107
You have [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) issue that is not related to the component. either proxy requests from your web server to the app server or add 'Access-Control-Allow-Origin' header to your web server.

[2016-12-20 09:48] Seeker93 commented on #107
Ok, I see. I will try and figure it out. However, I tried using a sample web api (https://jsonplaceholder.typicode.com/users) but if I try this, it gives me this error :

[2016-12-20 09:55] oferh commented on #107
it does - the default behavior is to append the search string to the url.
if you want to fetch the list only once you can do:

[code]

[2016-12-20 10:11] Seeker93 commented on #107
The above method still does not return any suggestions. Can you confirm if it works on your setup?

[2016-12-20 10:22] oferh commented on #107
this works for me:
Forgot to get the json from the response, this works for me:

[code]

[2016-12-20 12:08] Seeker93 commented on #107
Thanks a lot! This worked. It works with localhost as well.

[2016-12-20 12:08] #107 closed

[2016-12-21 04:05] nguyenphuocnhatthanh opened #108 "How to refresh selected is empty when not found?"
I has example data:
 private searchData = [
    { color: 'red', value: '#f00' },
    { color: 'green', value: '#0f0' },
    { color: 'blue', value: '#00f' },
    { color: 'cyan', value: '#0ff' },
    { color: 'magenta', value: '#f0f' },
    { color: 'yellow', value: '#ff0' },
    { color: 'black', value: '#000' }
  ];

I search  'red' -> selected is  { color: 'red', value: '#f00' }, after i search

[2016-12-21 06:31] oferh commented on #108
@nguyenphuocnhatthanh what would you expect selected to be in such a case?

[2016-12-21 09:19] nguyenphuocnhatthanh commented on #108
@oferh i expect selected is NULL. because we're shouldn't show current selected.

[2016-12-21 10:40] oferh commented on #108
so I don't understand the issue

[2016-12-23 10:42] oferh commented on #53
Not enough information

[2016-12-23 10:42] #53 closed

[2016-12-23 10:43] oferh commented on #62
duplicate of #40

[2016-12-23 10:43] #62 closed

[2016-12-23 12:47] oferh commented on #87
@Juraji it's possible, but wanted to have minimal styling out of the box for this component.
Which rules specifically did you override?
Since all styling rules are in `completer-cmp.css` you can create a custom component and not use them.

[2016-12-23 12:48] #75 closed

[2016-12-23 12:52] oferh commented on #93
question here if the solution is to add `typed` event or that `ngModel` will reflect the text in the input box as suggested in #72?

[2016-12-23 18:46] TheoGit opened #109 "I want the data service to know inputName of ng2-completer"
I am using multiple Ng2-Completer's and instead of having multiple data services I want know which Ng2-Completer is calling the data service so I can set my URL accordingly.  There's a "inputName" attribute on the Ng2-Completer but I don't how to access that from inside the data service.  Currently I have a different dataservice for each Ng2-Completer - any suggestions?

[2016-12-23 19:52] oferh commented on #109
@TheoGit you need a different data service for every instance.
If you use different URL for each instance why would you like a single data service?

[2016-12-23 20:50] TheoGit commented on #109
Then I could have all the code in one file; we'll actually have several type ahead's in this project.  I've looked at the code extensively - great job btw - and it appears to be only 1 property away from doing this.

[2016-12-23 21:52] oferh commented on #109
Thanks!

I think you can do a proxy data source that will pass an identifier to a common data component where the main business logic or API can be. When the result is returned the proxy will filter the results so that only the matching results will be forwarded to the component.
I'm not sure if it's as efficient as creating a data source per component, since the data will reach all components and

[2016-12-23 22:37] TheoGit commented on #109
That's a great idea!  I will try that and let you know.
In the meantime, I've been toying with attaching your inputName attribute to the completer - if it gets set in the ngOnInit of the CompleterCmp it should be visible in the service.  Then all I'd have to do is [inputName]="peopleSearch" and inside my data service I can set the URL depending on the name; that also won't change any of my onSelec

[2016-12-24 01:13] TheoGit commented on #109
I figured out a solution, you may or may not approve.   I can post it here your send you an email?

[2016-12-24 10:02] oferh commented on #109
you can contact me on [gitter](https://gitter.im/ng2-completer)

[2016-12-24 11:19] #40 closed

[2016-12-24 11:19] #69 closed

[2016-12-24 11:19] #82 closed

[2016-12-24 11:19] #84 closed

[2016-12-24 11:19] #101 closed

[2016-12-27 08:23] #60 closed

[2016-12-27 08:27] intergleam commented on #60
this issue is gone with the version upgrade, thanks!

[2016-12-29 08:24] vhontar opened #111 "How i can init some value by default?"
How i can init some value by default using your ng2-completer, or like init user value when he want to update account?

[2016-12-29 08:52] oferh commented on #111
2 options:

1. Create a custom data service that will have the initial value and will change it whenever it's changed
2. Use `local` with an Observable that will emit the initial data first

[2016-12-29 09:17] vhontar opened #112 "How i can get my own value not form the list when focus for example changed?"
How i can get my own value from input, not form the list, when focus for example changed?
For example i write value that doesn't find in list and when focus changed this value i can get from selected event emitter

[2016-12-29 09:34] #112 closed

[2016-12-29 12:00] vhontar commented on #111
`        this.arrayService.array$.subscribe((state: any) => {
            if (typeof state.array !== 'undefined') {
                this.array = state.array;
                this.dataService = this.completerService.local(this.array, 'name', 'name');
                this.dataService.search('Australia');
            }
        });`

When i ran search method in console.log i had matches, but ng2-compl

[2016-12-29 12:49] oferh commented on #111
I think it's a issue of how you handle the observable:

[code]

[2016-12-29 13:01] vhontar commented on #111
How it's should work if i run search method?

[2016-12-29 13:03] #111 closed

[2016-12-30 06:08] NguyenDo-Consulting opened #113 "disallow certain characters on remote search"
Is there a way to disallow certain characters. In my scenario, trailing space will cause server error.

[2016-12-30 07:05] NguyenDo-Consulting commented on #113
I ended up downloading the source and putting a trim in remote-data.ts line 42.
`		term = term.trim();
`

[2016-12-30 14:54] oferh commented on #113
you can create a custom data provider

[2016-12-30 19:04] feidong-zxzx opened #114 "how to empty search box?"
How would I empty search box if no selection is made?  Currently, the control would leave whatever a user types in or the highlighted item even when no selection is made.

Thanks,

Junlin Xu

[2017-01-01 10:57] oferh commented on #114
`clearSelected` should do it

[2017-01-02 11:06] d-damien opened #115 "Material design dropdown pushes everything down"
Title says it all : when activated, the material design dropdown list pushes down everything that's on its way. It is visible in [the demo](http://oferh.github.io/ng2-completer/#/material) : the words

go to the bottom of the page when one is searching for a country.

[2017-01-03 16:41] feidong-zxzx commented on #114
clearSelected is ok when you want to clear the text after you selected an item from the suggested list.

What I would like to do is the following:
1. The selected text stays if I select an item from the the suggested list.
2. The text clears if I do not select from any of the suggested item list.  For example, if I type in something in the input box and I just highlight on one of the item list.  I

[2017-01-03 18:36] d-damien opened #116 "Quick question : how to make instant opening dropdown ?"
In the demo, you can just press key down to unroll the list. I tried the same options with `ng2-completer` and `ng2-completer-md`, but I can't get it working :
[code]

Sorry for bothering you so much, your component is cool :ng: :+1:

[2017-01-03 20:01] oferh commented on #116
@d-damien thanks!
`ng2-completer-md` is just for demo so I haven't copied all changes that I made in `ng2-completer` to it.
I'll update it to have identical functionality when I'll handle issue #115

[2017-01-03 20:47] Juraji commented on #87
Practically I've overridden them all, I did indeed create a custom component to mirror yours and building on the service you provided. It works like sunshine!
I guess you're right tho, importing the style like this does make for an easy to setup component.

No further complaints, this one's a keeper!

[2017-01-04 09:37] d-damien commented on #116
I meant it also works with material demo :p

[2017-01-04 10:13] oferh commented on #116
can you create a plunkr?

[2017-01-05 21:35] russon77 opened #117 "import from "ng2-completer" causes DI failure, need "src""
In order to avoid the dependency injector failing, I have to import like this

[code]

instead of, as in the readme,

[code]

it doesn't seem to have been reported before, but it drove me crazy trying to figure out, and i don't understand why the regular import line, while *compiling* correctly, fails the DI. any thoughts?

#### error in question

[code]

[2017-01-06 07:59] oferh commented on #117
Can you provide some more information, what version of angular are you using? which bundler?

[2017-01-06 12:33] xaralis opened #118 "Very hard to apply custom styles as the dropdown disappears immediately after clicking anything"
Dropdown disappears immediately after clicking *anything* else (including dev tools frame). This makes it very hard to apply custom styles as you cannot use dev tools with realtime style updates.

Would be nice if this can be improved a bit.

[2017-01-06 15:07] russon77 commented on #117
@oferh actually i think i figured it out - due to https://github.com/oferh/ng2-completer/issues/60 , i import the module in `app.module` like this

[code]

I assume this is a behind-the-scenes Angular2 behavior. I'll close this issue, hopefully it helps someone else who runs into the problem.

[2017-01-06 15:07] #117 closed

[2017-01-07 01:09] NguyenDo-Consulting opened #119 "ngModel doesn't work with onClick"
I'm not sure if it's the same bug as the ngModelChange. I modified the existing demo to this:

native-cmp.html
`<h2>Input disabled</h2>
<div class="row completer-wrapper m-a-1">
    <div class="col-md-offset-1">
        <div class="row">
            <p>Async local data of countries - overrideSuggested, inputDisabled, inputClass and
                fieldTabindex
            </p>
        </div>

[2017-01-07 07:13] oferh commented on #118
@xaralis that's the expected behavior.
For dev you can clone/fork the repo and disable it by disabling the `blur` event in `ctr-input`.
If you have a suggestion on how else it can be done I'd be happy to consider it

[2017-01-07 14:29] toni-moreno opened #120 "Integration with existing input forms?"
There is any example on how can I integrate this tool with an existing input form like in the following example ?

https://github.com/toni-moreno/snmpcollector/blob/master/src/measgroup/measgroupeditor.html#L30?

Thanks a lot.

[2017-01-07 16:15] SebastianStehle commented on #118
I had the same problem. What is about an "disableAutoHide" property? ;)

[2017-01-08 09:26] oferh commented on #120
@toni-moreno there shouldn't be a difference between adding it to an existing or a new app you need to add `Ng2CompleterModule` to the app `NgModule` `imports` and then use the component in your component ts and template code.

[2017-01-09 14:59] toni-moreno commented on #120
Hi @oferh After import we would like to transform our <input></input> into <ng2-completer></ng2-completer> without affecting form control code. It is possible?

This is.

If I  have the below html , how can replace input to ng2-completer?

[code]

[2017-01-09 15:04] oferh commented on #120
Hi @toni-moreno,
you need to create a data provider and this needs to be done in code.

[2017-01-09 17:08] AgentSource commented on #114
@feidong-zxzx had a similar problem, my work around was to null the required field... so something like this.

`
if (selected) {
      this.required_field = selected.data
} else {
      this.required_field = null
}
`

Would be great if there was an onBlur or something that would ether reset it back to the original selected value OR just clear the selection all together requiring the user to do som

[2017-01-10 21:56] feidong-zxzx opened #121 "(selected) not called when text is highlighted and then deleted"
(selected) is not called when i highlight the whole text in the input box and press backspace or delete key.

Step to reproduce:
0. set [clearSelected]="false"
1. type in some text in the input box and select one item from suggested list
2. go to the input box, select the all text and press backspace or delete key, then the (selected) function is not called.

[2017-01-11 03:56] NguyenDo-Consulting commented on #119
my solution was to use a viewchild on the CompleterCmp and get its searchStr
[code]
I know it looks like a complete hack but can anyone think of something that can go wrong?

[2017-01-11 08:49] oferh commented on #119
@NguyenDo-Consulting I think it's a duplicate of #93 since what you want is to get the input string before it is selected right?

[2017-01-11 19:39] ArthurJJr opened #122 "Clicking in a pre-filled ng2-completer with [overrideSuggested]="true", then immediately clicking another element clears the ngModel to a blank string"
Using Angular 2.4.1, the searchStr in completer-cmp.ts is set to the initial ngModel value (so the input field looks good), but no trigger is sent to the _searchStr in ctr-input.ts, so it remains an empty string. When the onBlur() is called in ctr-input.ts (upon switching elements without making any changes to the input field first), the this.overrideSuggested if statement causes a "this.completer

[2017-01-16 05:44] nivesh2 opened #124 "lacking remote data load on every keyUp event"
I am populating dataService when the user hits the keys(keysUp event) via a remote API call which takes like 1 second. The problem is ng2-completer only displays the autocomplete list if the data is loaded instantly which in my case is not, as it takes time for API call to finish, thus no data is displayed.
How can we implement this feature please explain.

Demo Code, loading data after 2secs:
[co

[2017-01-16 10:38] worldeditor11 opened #125 "ng2-completer input autofocus?"
Hello, is there a way to focus the cursor on the ng2-completer input textbox itself? By user actions or upon display. I tried autofocus as well as referencing it and then use elementRef to focus it but no luck.

Thank you.

[2017-01-17 11:06] oferh commented on #125
@worldeditor11 have you tried setting the `fieldTabindex` attribute?

[2017-01-17 11:54] oferh commented on #124
@nivesh2 the data service should be set when the component is created you can load the data asynchronously using `Observable`
see an example in this [Plunker](http://embed.plnkr.co/C6bR92/)

[2017-01-17 15:55] mosca90 commented on #119
Same here, exactly that: get the input string before it is selected
how is possible?

[2017-01-17 22:07] galenwilk commented on #125
@oferh I think I'm having a similar issue. If I want to to set focus in the input on an event (in my case, a specific keyDown event displays the completer), there isn't really a way to do that. I tried using the `open()` method, but it only displays the completer dropdown, it doesn't focus the input.

[2017-01-18 00:45] worldeditor11 commented on #125
@oferh Just tried as you have suggested but still no cursor on the input box.

@galenwilk Yeah,thats what I am trying to do but more specifically, the cursor focusing back on the completer after form submission.

[2017-01-18 11:34] nickmorton commented on #118
If you use Chrome, in Dev Tools enable an event listener (Sources tab) on Control.blur. Clicking off input while dropdown is open will hit the breakpoint and leave the dropdown open for styling.

[2017-01-19 10:57] danielledesma opened #126 "required not working when intializing ngModel with a value"
When initializing the ngModel with some value, if the input is cleared the validation doesn't trigger.

[2017-01-21 07:59] #80 closed

[2017-01-21 08:00] oferh commented on #86
closing as duplicate

[2017-01-21 08:00] #86 closed

[2017-01-21 08:16] oferh commented on #93
will change `ngModel` to reflect the input value

[2017-01-21 08:16] #93 closed

[2017-01-21 09:39] grubinic opened #128 "Add inputId property to ng2-completer component (analogy to existing inputName property)"
It would be nice to be able to set the id of the input element in ng2-completer component.
I would like to use the id on the html label element for standard label behavior (input focused on label click).

[2017-01-21 09:56] #115 closed

[2017-01-21 10:11] oferh commented on #125
added `autofocus` attribute in `1.0.0`

[2017-01-21 10:11] #125 closed

[2017-01-21 10:12] oferh commented on #73
added `type="search"` in `1.0.0`

[2017-01-21 10:12] #73 closed

[2017-01-21 10:14] oferh commented on #72
Starting from `1.0.0` `ngModel` matches the input value

[2017-01-21 10:14] #72 closed

[2017-01-21 10:15] oferh commented on #97
A [plunk](https://embed.plnkr.co/C6bR92/) is avilable

issue fixed in `1.0.0`

[2017-01-21 10:15] #97 closed

[2017-01-21 10:20] #67 closed

[2017-01-21 10:21] oferh commented on #85
add a sample to the demo https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.css#L30

[2017-01-21 10:21] #85 closed

[2017-01-21 10:22] #87 closed

[2017-01-23 02:14] JustServ opened #129 "Multiple Dropdowns?"
I have a form array, wanted to use this, but when I do it opens a drop down on every instance instead of just the one I'm typing. Then they don't close when I click-away. Is it possible to do this?

[2017-01-23 06:28] oferh commented on #129
@JustServ you need to create a different `dataProvider` for each item

[2017-01-24 14:19] mbenfriha opened #130 "Cannot read property 'annotationCls' of undefined"
Hi, I installed ng2-completer it works without problem in dev but when I try to build my app (i use webpack) and load the page I have this error:
https://www.dropbox.com/s/1xhkwh5kf636hts/Capture%20d%27%C3%A9cran%202017-01-24%2015.18.13.png?dl=0

I tried to isolate the problem and it appears when I import Ng2CompleterModule into @NgModule
thx advance

[2017-01-30 08:00] grubinic opened #131 "RemoteData search - dropdown list not showing after first http request error (e.g. no Internet connection)"
If RemoteData search fails, because for example there is no Internet connection, dropdown list with results will not show again if request succeeds afterwords.
As a workaround, I have created a custom remote data implementation which handles the http error silently.
I suppose this should be fixed in ctrl-list.ts directive instead.
This is my custom remote data implementation:

[code]

[2017-01-30 14:39] dimitrisMaf28 commented on #99
Could you please make a more detailed example because I cannot find the CompleterItem in the docs?

[2017-01-30 19:06] oferh commented on #99
check `Local data with description` example in [demo](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.html#L20)

[2017-01-30 19:14] oferh commented on #131
@grubinic you are right `CtrList` will re-throw the error after [handling it](https://github.com/oferh/ng2-completer/blob/master/src/directives/ctr-list.ts#L147) might be that this behavior is more a bug then a feature and should be removed

[2017-02-01 09:32] shyamal890 opened #132 "Demo in plunker"
It would be very easy for a new user to understand the functionality by playing around with plunker based demos.

[2017-02-01 15:18] oferh commented on #132
There is one here: https://embed.plnkr.co/C6bR92/
It should be in the readme.

[2017-02-01 15:45] yanzacheus commented on #129
Hello,
I tried to create 3 dataProviders with :
[code]
(are all Observables on Objects with a label property)
and then in my form:
[code]
But they all share the same results (form the observable 1)
Is it because of the same completerService injected ?
See anything wrong ?
Thanks in advance !

[2017-02-02 06:39] KANekT opened #133 "No link to Github in demo"
No link to Github in demo :( for return to sourse code

[2017-02-02 09:44] elhoo opened #134 "First item is selected on enter"
Hi,

First - thanks for the component! :-D

I want to use it as a search field - for example searching for countries (as in your example).
If I enter "s" I see 4 countries. If I don't select any item but only pressing enter I get Botswana.

Is there any way I can get the value "s" so that I can send the user to a more general search page listing all countries that contains "s"? If the user select

[2017-02-02 10:00] sdf611097 opened #135 "Candidate texts too long will not display as expected"
![2017-02-02 5 49 38](https://cloud.githubusercontent.com/assets/7991672/22544677/ce1fde6e-e970-11e6-8433-8ef38472beba.png)

I add below item to countries.json. When I type _a_ on the edittext, the dropdown is not fit the width.

{
    "name": "ABCDEFGHIJKLMNOPQRABCDEFGHIJKLMNOPQRABCDEFGHIJKLMNOPQRABCDEFGHIJKLMNOPQR",
    "code": "AF",
    "flag": "demo/res/img/af.png"
}

[2017-02-03 13:48] nicolassharp opened #136 "'Add new item'"
It would be great to have an option to add a new item in the suggestion dropdown. Selecting that option from the dropdown would call a function like `(addNew)="someFunction($event)"`.

There's a good example [here](https://material.angularjs.org/latest/demo/autocomplete) in the basic usage demo, try typing something that isn't a state.

Is there a work around currently?

[2017-02-04 07:55] oferh commented on #136
2 options:
1. Use the directives and create a custom completer
2. Create a custom data provider that is the `add new` item

[2017-02-04 07:58] oferh commented on #135
@sdf611097 you can change the CSS rules for `.completer-row` or `.completer-list-item` to display it differently.

[2017-02-04 08:02] oferh commented on #134
Hi @elhoo,

Thanks!

You are right first item shouldn't be selected on enter

[2017-02-04 20:07] nicolassharp commented on #136
I thought about option 2... I think I'll go with option 1 though.

Is this a feature that would be useful to others? If so I can contribute it...

[2017-02-04 21:38] gishu opened #137 "dropdown"
`<ion-item id="cat-autocomplete">
        <ng2-completer  ...></ng2-completer>
      </ion-item>`

Trying to use the ng2 completer with an Ionic v2 app. I see that the dropdown is clipped - the ion-item is roughly the size of the input tag.
If I add css - set the height of the ion-item (list item) to 120px, then I can see the dropdown .. atleast the top 2-3 items. However in the display only state

[2017-02-05 06:24] oferh commented on #136
So far hasn't seen demand for it and would rather not add features that can be achieved by manipulating the existing lib.

[2017-02-05 06:28] oferh commented on #137
@gishu can you provide a github with a minimal project to help understand the issue.

[2017-02-05 07:28] shyamal890 commented on #137
@oferh @gishu An plunker too would do.

[2017-02-05 07:59] shyamal890 opened #138 "Feature Request: Key/Text property"
In some cases the `ngModel` would only bind to a particular property of `model`. It would be great if the package can handle this on selection with `keyProperty` and `textProperty`

[2017-02-05 17:47] nicolassharp commented on #136
Makes sense.

[2017-02-05 17:47] #136 closed

[2017-02-06 03:46] sdf611097 commented on #135
width at .completer-dropdown seems not work

Using min-width to solve my problem.

[code]

[2017-02-06 03:47] #135 closed

[2017-02-07 04:36] gishu commented on #137
https://github.com/gishu/ng2-completer-sample

### incase you do not have ionic installed
npm install -g ionic cordova
### drop to the cloned repo
npm install
ionic serve

### point browser to localhost:8100 (should see this in the serve logs as well)

[2017-02-09 16:01] Rebolon commented on #111
Why don't you just init the ngModel in the component::ngInit ?
It should be ok, or i miss something important (in my case array$ doesn't exists)

[2017-02-10 06:19] #89 closed

[2017-02-10 06:19] #92 closed

[2017-02-10 06:20] #94 closed

[2017-02-10 06:20] #98 closed

[2017-02-10 06:24] oferh commented on #96
trying not to add features that cannot be done  otherwise to prevent feature bloat

[2017-02-10 11:29] oferh commented on #138
@shyamal890 there are `selected` and `highlighted` events that include the `originalObject` with all it's properties.

[2017-02-10 12:44] #100 closed

[2017-02-10 12:44] #121 closed

[2017-02-10 12:44] #122 closed

[2017-02-10 12:44] #134 closed

[2017-02-10 12:47] oferh commented on #126
fixed in `1.1.0`

[2017-02-10 12:47] #126 closed

[2017-02-10 13:12] champ51 opened #140 "How can i apply Material design to Search Textbox"
How to apply Material 2 design styles to my ng2-completer textbox

[2017-02-11 08:12] oferh commented on #140
check out material design [demo](https://github.com/oferh/ng2-completer/blob/master/demo/material-cmp.ts)

[2017-02-11 14:04] micsimon opened #141 "How can i set a searchstring into the input an trigger the dropdown with jQuery?"
Hello,

im search for a possibility to set a serarchstring into the input field and trigger the search (dropdown). im writing a for a component with ng2-completer in it.

thx

[2017-02-11 15:28] oferh commented on #141
check the `Open and close programmatically` part of the demo

[2017-02-13 14:00] Rebolon opened #142 "remoteData is incompatible with GraphQL API because the RemoteData use http.get method"
Hi,

i wanted to use ng2-completer for our project but our GraphQL Api is incompatible with the component. GraphQL use only HTTP POST to retreive data, but RemoteData internally use http.get method which cannot be used for POST request.

It would be interesting to change RemoteData to be able to use it with GraphQL. Any idea for this requirements ?

[2017-02-14 00:11] grenager commented on #62
I had the same problem, would you please add a note in the documentation about view encapsulation problem and how to get around it? This is not obvious to someone who wants to use your directive in their project and wants to style it using the component-level CSS. Thank you.

[2017-02-14 06:55] micsimon commented on #141
thx ... works!

[2017-02-14 06:55] #141 closed

[2017-02-14 08:32] oferh commented on #62
I'll try to set the view encapsulation of the component to null and test it might be the best option as it seems like this issue is very common.

[2017-02-14 09:12] oferh commented on #142
Hi @Rebolon,
You need to create a custom data provider see it in the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts)

[2017-02-14 09:29] dddent opened #144 "Since last commit searchFields does not behave as stated in the docs"
The docs state, that all data will be shown if searchFields is null, since the last commit however, the completer always tries to search the values.

Possible fix: #143

[2017-02-14 09:41] Rebolon commented on #142
Thanks for help, i'll try this

[2017-02-14 09:41] #142 closed

[2017-02-14 16:29] grenager opened #145 "Looking for a way to trust the remote data service matches"
It seems that the CompleterService is designed to only display exact matches to the input. Is it possible to configure or write an implementation so that the CompleterService will trust the remove data service and show all of the matches that it returns? This would allow me to display the approximate matches to the user which the remote data service is returning. Thanks.

[2017-02-14 20:30] elhoo commented on #134
Thanks @oferh!

I have updated my project and just want to say/confirm that it works!  👍

[2017-02-16 08:40] somewhatabstract opened #146 "Events for when dropdown is opened and closed and property to interrogate current state"
I want to have a single button that programmatically toggles open and close, but since the dropdown can be closed in multiple ways, tracking whether the dropdown is open or closed is difficult.

If there was an event for tracking the opening and closing of the dropdown as well as a property to interrogate if the dropdown is open, this would be fantastic.

[2017-02-16 08:59] somewhatabstract opened #147 "If the search term is unchanged, I would expect a remote data source not to be re-queried"
Currently, every time the dropdown is opened, a remote data source is re-queried. I would expect that if the entered value is unchanged that instead, the most recent data would be used (or for that to at least be an option).

[2017-02-17 05:01] oferh commented on #147
@somewhatabstract agree it can be a good idea to add some option for caching results.

[2017-02-17 21:18] elitenick commented on #118
I just opened the Chrome settings in the console land checked off "Disable JavaScript" as soon as the DIV showed and that was good enough to style everything.

[2017-02-18 20:50] phandinhlan opened #148 "Can't bind to 'dataService' since it isn't a known property of 'ng2-completer'"
Hi, this could be really silly but I'm getting this error:

Can't bind to 'dataService' since it isn't a known property of 'ng2-completer'

1. If 'ng2-completer' is an Angular component and it has 'dataService' input, then verify that it is part of this module.
2. If 'ng2-completer' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schemas' of this component to suppress this m

[2017-02-19 02:24] #148 closed

[2017-02-20 12:52] arvindpandey0127 opened #149 "Data not showing in remote service after one key type, but api returning result."
Hi

I am using remote service of ng2-completer but data hint not showing and not filtering after one character, when i am typing more than one character its showing no result.

 hscSearch(id, unitcode:number){
        this.hscTab[id]=!this.hscTab[id];

          var url="mdm/api/_search/healthcare-service-centers?query=partOf.code:" + unitcode + " name:";
          this.hscdataService = this.compl

[2017-02-20 17:36] oferh commented on #149
Hi @arvindpandey0127,

What's the format of the response?

[2017-02-21 12:28] JoGFree opened #150 "Autofocus does not work."
Setting the autofocus attribute does not seem to do anything.
<ng2-completer (click)="markArticleNumberAsUntouched()" [formControl]="articleNumberInput"
                    [dataService]="articleNumbers"  [autofocus]="true" [autoMatch]="true"></ng2-completer>

[2017-02-21 13:02] arvindpandey0127 commented on #149
Json

[2017-02-21 15:00] Rebolon commented on #129
i dislike this solution because if your auto-complete could use the same dataProvider, you Have to duplicate your code....
There isn't any way to clone the dataProvider, or to inject it multiple times in our component ?

[2017-02-22 08:33] oferh commented on #149
can you provide a sample?

[2017-02-22 12:51] Rebolon opened #151 "input is not stored in the form"
I use ng2-completer component inside an html form node
When i submit the form, all fields except the ng2completer input are in the ngForm.controls.

How the input from ng2completer can be binded in the ngForm controls ?

Thx

[2017-02-22 15:06] Crevil commented on #88
I'm not able to use this module with reactive forms.
The `ngModel` attribute is not allowed with a parent `fromGroup` attribute (the base of reactive forms).

Any considerations making this possible?

[2017-02-24 04:59] oferh commented on #150
Hi @JoGFree here is a plunk with it [working](https://embed.plnkr.co/AVHh13/)
can you provide a non working sample?

[2017-02-24 08:28] JoGFree commented on #150
Hi @oferh
Your sample seems to be working on chrome only. not internet explorer(11.576) or firefox (51.0.1)
We're building an hybrid windows application with cordova, so there's probably a problem with the autofocus attribute in IE.

[2017-02-24 18:35] intergleam opened #154 "ngModelChange doesn't work without setTimeout"
I may be missing something but
[code]
addCountry doesn't catch the latest `country` without `setTimeout` with 0

[2017-02-24 19:14] intergleam opened #155 "Can't bind to 'selected' since it isn't a known property of 'ng2-completer'."
I added `[selected]` attribute and have this error now
`Can't bind to 'selected' since it isn't a known property of 'ng2-completer'.`

[2017-02-26 07:15] oferh commented on #155
selected is an event and not a property please try `(selected)` instead you can also check the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.html#L28)

[2017-02-26 07:22] oferh commented on #154
I think you shouldn't use two-way data binding when using `ngModelChange` so the syntax should be `[ngModel]` and not `[[(ngModel)]`

[code]

If it doesn't work it'll help if you can provide a plunker that reproduces the error.

[2017-02-26 19:40] nicolassharp opened #157 "Space not showing for CompleterService.remote"
If the JSON returned by the server is:
`{name: 'Nicolas Sharp', id: 1}`
Then 'NicolasSharp' is intermittently displayed in the dropdown.
Also, `completerServicePeople.remote(null, '', 'fullname');` doesn't work, you must include the field name as the second argument, I believe this is incorrect behaviour.

[2017-02-27 08:50] oferh commented on #157
@nicolassharp space omission doesn't reproduce in the demo, can you provide a plunk?
As for the empty search field:
When the data is an array of objects there is no way to know which field should be searched. if you want to include all items you should set it to null and not to an empty string.
An empty string is expected when the data is an array of strings and then there is no field to search.

[2017-02-27 12:17] nicolassharp commented on #157
@oferh the API is private so that's a little hard to do, when I have a bit more time I'll try on Pluckr with a public API. In the meantime here are some screenshots:

![screen shot 2017-02-27 at 12 07 23](https://cloud.githubusercontent.com/assets/1174791/23360834/8216f308-fce5-11e6-9bb5-1ba1cffdd862.png)

![screen shot 2017-02-23 at 11 16 57](https://cloud.githubusercontent.com/assets/1174791/233

[2017-03-01 10:21] ericoliveros opened #158 "ng2-completer closes when scrollbar is clicked on IE browser"
Hi @oferh, completer component closes when scrollbar is clicked on IE browser. I just wondering if you have time to fix it :)

[2017-03-03 11:18] oferh commented on #158
Ho @ericoliveros, I don't think I'll get to it soon. b.t.w which version of IE?

[2017-03-03 15:30] ericoliveros commented on #158
Hi @oferh, it is Internet Explorer 11. Thanks in advance!

[2017-03-04 11:54] pdmshrestha commented on #22
How do I search with nested nodes? for example I have data like
`{
  "data": {
         customers: [
         {name: 'test name'},
         {name: 'another name'}
       ]
  }
}`

I would like to find customers.

[2017-03-04 12:24] pdmshrestha opened #159 "Description for remote data"
Great work!

It would be nice if we could use description also for remote data. I used it for local data it works but not for remote data.

[2017-03-04 12:42] #159 closed

[2017-03-05 08:56] rannaot opened #160 "Cannot read property 'search' of undefined"
Hello, Keep getting the error while I think I did restart my dataService

 registerData(){
    this.dataService = this.completerService.local(this.foodService.foodNameStr);

I am uncertain about the map to ng2-completer.umd.js
I use angular CLI an webpack, not system.js...

Thanks,
Ran

[2017-03-05 17:49] rannaot commented on #160
I think this is due to me loading the data in lazy and not via the constructor, can this be?

[2017-03-05 18:34] RamyEl-basyouni opened #161 "ng2-completer not showing returned results embedded in reactive forms"
hey,
despite data is returned in json, it is not shown in the input.
The tag is like this:
<ng2-completer [datasource]="url" [minSearchLength]="1" [textSearching]="project_name" ></ng2-completer>

the url in ts is like:
url: string = this.dataService+"api-project-tools-materials-parts-list?type=tool&name="

[2017-03-05 18:50] rannaot commented on #160
This can be closed, as I just injected an observable from my service...

[2017-03-05 18:50] #160 closed

[2017-03-05 18:52] rannaot opened #162 "CompleterCmp - caused by: this.text.toLowerCase is not a function"
I wonder if this due to my text being non English.
Would appreciate some help here

[2017-03-06 04:55] oferh commented on #159
@pdmshrestha thanks!

[2017-03-06 04:56] oferh commented on #162
@rannaot can you provide an example?

[2017-03-06 04:59] oferh commented on #161
@RamyEl-basyouni is the returned data a string array? if not you need to either turn it to one or create a data provider for it.

[2017-03-06 07:24] rannaot commented on #162
Will try to send something while at home but in general my data is typed... this could also be the reason.

`
Class FoodName{
id:number;
name::string;
}
`

My search data is an Array<FoodName>

something like
'
let serachData=new Array<FoodName>();
searchData.push(new FoodName(1,'לחם');
searchData.push(new FoodName(2,'מיים');

'
Eventually this the data I am sending to the local completer (not dir

[2017-03-06 07:29] RamyEl-basyouni commented on #161
yup, the returned data is array of strings,
it is like that:
http://www.jsoneditoronline.org/?id=2078ac730b9f3e942102b6e0411793f7
I am using [ngModel]="project_name" but not working also

[2017-03-06 14:46] nsklyarov opened #163 "raw text in ul.filter_multiple_choise"
li elements in "ul.filter_multiple_choise" contains raw text;

in result i can't implement text-overflow: ellipsis for li with long text;
Please, wrap text in li-element.

[2017-03-06 16:34] intergleam commented on #155
`(selected)` works but it conflicts with `[clearSelected]`. The callback contains an empty value

[2017-03-06 18:09] rannaot commented on #162
I see the problem is with the typed data, not with the language.
It can be a nice feature since this is a type lang :)

[2017-03-07 13:29] #151 closed

[2017-03-07 13:32] Rebolon commented on #151
The problem was linked to the fact that i exported the component throught the template like this :

`
<form #contributorForm="ngForm"
<ng2-completer #myComp id="myId"
                            name="myName"
                            (selected)="setmyProps($event, 'producer')"
                            [ngModel]="myProps"
                            [dataService]="myService"

[2017-03-07 14:02] oferh commented on #155
`(selected)` is emitted whenever a selection is made `[clearSelected]` tells the component to clear the input when a selection is made.
Do you mean that when `[clearSelected]="true"` selected will be emitted with `null` value after selection?

[2017-03-07 14:04] oferh commented on #163
Hi,
can you provide an example plunker?

[2017-03-07 14:10] oferh commented on #161
@RamyEl-basyouni the result is an array of Objects:
[code]
it should be like that for it to work:
[code]
You can use an array of objects but you need to create a data provider for that

[2017-03-07 14:17] oferh commented on #162
Hi,

Haven't tried it with an array of classes if you make it an interface it should work:
[code]

[2017-03-07 14:46] intergleam commented on #155
yes

[2017-03-07 16:51] #154 closed

[2017-03-07 16:52] intergleam commented on #155
so currently i am observing a lot of issues with `(selected)`, it fires on every keypress and even on every backspase on empty box

[2017-03-07 17:07] intergleam commented on #155
Upgraded to 1.2.0 and it behaves very weirdly, initiates the model when i start typing, deletes when i press backspace.

Do you have some plunker?

[2017-03-07 17:27] intergleam commented on #155
confirmed, i just created a new `angular-cli` project and installed `ng2-completer` and added
`
  (selected)="selected()"
`

and in the component class

`
  selected(){
    alert(this.searchStr)
  }
`

and it is going bananas

[2017-03-08 23:20] oferh commented on #155
The only issue I see right now is that selected is emitted on the first key press:
https://plnkr.co/edit/gPx8B32P7nRIDqf5o86Q?p=preview

[2017-03-09 10:39] intergleam commented on #155
could you please test this project https://github.com/intergleam/test-ng2-completer

it was created with `ng new` and i run `npm install ng2-completer --save`, nothing else

[2017-03-09 10:40] intergleam commented on #155
![image](https://cloud.githubusercontent.com/assets/2155554/23746712/ce483292-04b4-11e7-9245-c60f5e155909.png)

[2017-03-09 10:41] intergleam commented on #155
when clicking `backspace`

[2017-03-09 13:02] intergleam opened #164 "styling doesn't work"
same repo https://github.com/intergleam/test-ng2-completer, added some styling in [app.component.css](https://github.com/intergleam/test-ng2-completer/blob/master/src/app/app.component.css) and it doesn't work

[2017-03-10 11:31] arsrobota commented on #164
I would add that most mentionned CSS classes don't work. I only managed to remove basic input field borders.

[2017-03-12 00:39] nidzola opened #166 "CompleterService remote, displaying data from nested array..."
It would be great if CompleterService.remote(), could process object for a server response.
Example:
`this.dataServiceAreas = completerService.remote(API_URL 'payload.name', 'payload.name');`

Response from API:
`{xxx: "xxxx", xxxx: "xxxx", payload: [{name: 'xxxxx', age: 'xxxxxx'}, {name: 'xxxxx', age: 'xxxxxx'}]}`

to be able to display data from "payload" key in the response object.

[2017-03-12 10:46] oferh commented on #166
You can use `dataField` for that.
[code]

[2017-03-12 10:51] oferh commented on #164
I think the solution will be to set `ViewEncapsulation` to `none` - need to check that

[2017-03-12 10:53] oferh commented on #62
view encapsulation will be checked as part of #164

[2017-03-12 12:25] nidzola commented on #166
Hi, thank you for your response. You're right :)

I don't know how I miss that... Maybe documentation can be extended for that information with an example. I used `CompleterData` instead `RemoteData` type for `dataServiceAreas`.

[2017-03-12 12:26] #166 closed

[2017-03-12 13:37] arsrobota commented on #164
Hi Herman, thanks for replyinng. I'll have a look at this.

[2017-03-13 13:41] arsrobota opened #167 "Array or object as a result"
Hi,
Unless I missed something, it seems that ng2-completer can return only a single string of characters. In my case, I need to get an array (or an object) of two strings.
Is this natively possible, connecting to a remote data provider?
Thanks.
aR

[2017-03-13 15:54] rangelke commented on #164
Setting ViewEncapsulation to none will globally pollute your css though.

[2017-03-13 20:49] oferh commented on #164
@rangelke you are right, on side is that it will be very easy to change `ng2-completer` styles the but on the other side it can cause unintended override of other styles.
That's the reason I haven't done that so far but it seems like a lot of people out there find it hard to override styles and this should make it simpler.

[2017-03-13 20:53] oferh commented on #167
Hi,
do you need multiple select or that you need an object that has more than just the title?
multi-select is not supported but getting the original object is using `(selected)` event.

[2017-03-13 21:13] arsrobota commented on #167
Hi,
I need only one selector with, let's say, 3 elements. I tried using (selected) but I don't know how to select each element in my template. To be honest, I'm quite new to Angular2 so the solution might be very simple... Thanks for your help, anyway!

[2017-03-14 00:14] pdinesh80 commented on #155
@oferh Facing the similar issue, "selected" getting triggered when I do backspace on the already selected item.
Any ETA on when this will be resolved or any work around to avoid this?

[2017-03-14 07:50] intergleam commented on #155
https://www.primefaces.org/primeng/#/autocomplete

[2017-03-14 11:18] amirduran opened #168 "Reloading observable results"
In my case, I have remoteUsers$ observable which is result from API call.

this.userDataService = this.completerService.local(<Observable<any[]>>this.remoteUsers$, "name","name");

The problem is when I load new data into remoteUsers$ observable, that data is never displayed in dropdown. How can I achieve that?

[2017-03-15 08:58] oferh commented on #155
@pdinesh80 hope to resolve it by next week

[2017-03-15 09:01] oferh commented on #168
What's the response format? can you provide a sample?

[2017-03-16 18:57] kudsyf opened #169 "Cannot read property 'search' of undefined"
hi, am trying to inject a string Array to the completer service, but am getting this error

in the constructor am getting array from firebase, then converted to string array then pass it to the completerService

[code]

any idea why am getting this ?

[2017-03-16 19:05] kudsyf commented on #169
solved with #37

[2017-03-16 19:05] #169 closed

[2017-03-16 19:06] kudsyf opened #170 "input style"
hi, is there any attribute to make the input style as a bootstrap form-control input ?

[2017-03-16 19:20] #170 closed

[2017-03-16 19:24] nicolassharp opened #171 "Custom Completer"
I can't find an example, does anyone know where I can find one?

[2017-03-17 11:07] pdinesh80 commented on #171
https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts

[2017-03-17 11:08] pdinesh80 commented on #155
Thanks @oferh

[2017-03-17 11:20] nicolassharp commented on #171
Thanks!

[2017-03-17 11:20] #171 closed

[2017-03-18 17:28] #144 closed

[2017-03-18 17:56] #150 closed

[2017-03-18 17:56] #155 closed

[2017-03-19 20:51] fabrizio5680 opened #173 "Property 'ctrInput' is private and only accessible within class 'CompleterCmp'"
Issue with angular2-webpack-starter with AOT build, need to set ctrInput as public member for compilation.

[2017-03-20 09:47] rangelke commented on #173
There is a possible fix / discussion going on here: https://github.com/oferh/ng2-completer/pull/172

[2017-03-20 19:59] oferh commented on #71
Sorry for the late reply.
It can be a good idea to replace headers with `RequestOptions` - will consider that.

At the moment there are two options to do this:

1. If your data is static you can pass the http request observable as `datasource`
[code]
2. create a custom `DataProvider` that will perform the search
[code]

[2017-03-20 21:05] #173 closed

[2017-03-21 13:54] Tomagi commented on #71
Hi Ofer,
What is  Subject<CompleterItem[]>?

[2017-03-22 02:05] rayzru opened #175 "Please add `focus` event along with `blur` one"
Or i just didn't figure out how to open dropdown right after i placed cursor into input.

[2017-03-22 08:45] oferh commented on #175
connected to #176

[2017-03-22 10:01] oferh commented on #71
[A Subject is a sort of bridge or proxy that is available in some implementations of ReactiveX that acts both as an observer and as an Observable.](http://reactivex.io/documentation/subject.html)

[2017-03-22 15:33] Rebolon opened #177 "How to use multiple ng2-completer in the same form ?"
for instance if i use multiple ng2-completer in the same page or form, then it may display dropdown from all component whereas i'm filling only one field.

Here is a sample of code

[code]

[2017-03-22 16:25] Rebolon commented on #177
misconception in my dataSource that share the same Subject for all completer.

[2017-03-22 16:25] #177 closed

[2017-03-23 13:41] henbarlevi opened #178 "how to use CompleterService.remote when getting from server array of strings"
first i would like to thank you for this component, its very  helpful!
currently the auto-complete works fine but the problam is that im getting from server objects full of unnecessary data and using the CompleterService.remote that using the propety projectName from the objects array.

CompleterService.remote('http://localhost:3000/project/search?name=', 'projectName', 'projectName');

instead **

[2017-03-23 14:34] dimitrisMaf28 commented on #84
Hi everyone I saw on the docs that now you can use programmatically. Could anyone post a small example with the open method?

[2017-03-23 15:39] oferh commented on #178
@henbarlevi thanks!
can you add a sample response?

[2017-03-23 17:18] henbarlevi commented on #178
client code:

[code]
`
server nodejs code (TESTED and working correctly):

[code]

[2017-03-23 20:41] shiva298 commented on #168
I'm seeing this as well.
I am trying to build a search functionality and amy template would look like

[code]
the implementation inside the component is as follows:

[code]

The userList format would be =
[{
userId : <uniqueID1>,
info : <String1>
},
{
userId : <uniqueID2>,
info : <String2>
}]

Let me know if i am missing anything.

[2017-03-23 20:48] shiva298 commented on #168
@oferh  Even tried following way, Even though "searchString" has valid string , the dropDown says "No Results found".
[code]

[2017-03-24 05:10] oferh commented on #178
If searchFields is null or undefined it will return all data from the response without filtering if it is an empty string it will filter it with the input text.
titleField needs to be null in both cases (which is something I need to check)

To display all the results returned from the server:
[code]

To filter returned results:
[code]

see [plunker example](https://plnkr.co/edit/MjQewGuIqp3EhMTOOr

[2017-03-24 05:29] oferh commented on #168
@shiva298 you are changing `datasource` not emitting new values to the observable, at the moment this is not supported and dataSource should not be changed.

you can do something like this (not tested)
[code]

[2017-03-24 10:04] rayzru commented on #175
This task can be closed due to PR https://github.com/oferh/ng2-completer/pull/176 was accepted.

[2017-03-24 10:04] #175 closed

[2017-03-24 11:08] dimitrisMaf28 opened #179 "Problem with deselecting the input value"
I am using 2 different instances of ng2-completer, one with datasource from an api and one from an array. In both situations, I emit the selected options but when I clean the input I either get an exception ( Cannot read property 'originalObject' of null) or nothing is emited.

[2017-03-24 14:47] mdoumbouya117 commented on #84
@dimitrisMaf28  https://github.com/oferh/ng2-completer/search?utf8=%E2%9C%93&q=oferh&type=

 1- HTML: use (mouseenter) or another function
 <ng2-completer #openExample (mouseenter)="onOpen()"  [(ngModel)]="color2" [datasource]="colors" [minSearchLength]="0" [placeholder]="'search color'"></ng2-completer>
2 - TS : call open() or close()
import { ViewChild } from '@angular/core';
import { CompleterC

[2017-03-24 15:54] oferh commented on #179
Hi,
can you add an example or a plunker?

[2017-03-24 16:18] dimitrisMaf28 commented on #179
Actually I have added overrideSuggested as true and it seems to work fine

[2017-03-24 16:32] oferh commented on #179
Ok, please close the issue if all is working fine 😄

[2017-03-24 22:09] henbarlevi commented on #178
its working. THX!

[2017-03-24 22:11] #178 closed

[2017-03-24 23:43] snstarosciak opened #180 "Is there a way to integrate this with Firebase/AngularFire2?"
Hey there, I've used this module before and it works well, but I'm utilizing Firebase as my datastore and I'm wondering if there's a way to actually search within a Firebase data store/observable returned from Firebase using this?

Thanks!

[2017-03-25 00:21] #179 closed

[2017-03-27 17:52] shiva298 commented on #168
@oferh this works. thanks 👍

[2017-03-27 18:25] niltoum commented on #168
Where do I apply the this.resultsFetched variable ro reload the list of the component?

[2017-03-27 19:30] szh commented on #128
Any plans to add this feature? As of now, all the fields on my form work well with labels (i.e., clicking the label focuses the input), except for the completer.

[2017-03-29 09:50] zevektor opened #183 "Cannot read 'search' property of undefined (this._dataService not defined)."
I'm using your plugin this way:

[code]

And stringsTest is declared in my Component class like:
```stringsTest:string[]=['first','second','third']```

When I input something into the form, what I get is this error instead of a dropdown list with suggestions:

[code]

Am I doing something wrong?

[2017-03-29 10:12] zevektor commented on #183
It looks like if I use the old [dataService] attribute, everything works just fine. Any ideas?

[2017-03-29 12:44] jain1anuj commented on #158
Hi @oferh,

I am also facing the same issue. Actually this is the issue with IE with BLUR event. When user clicks any where in IE window, blur events fire. This behavior is been controlled by other browsers like Chrome.

Could you please provide us with the solution as we are stuck with this issue ? Thanks in advance

[2017-03-29 18:28] oferh commented on #128
Should be a simple addition, I'll add it in the next version

[2017-03-29 18:35] oferh commented on #183
can you provide more info or a plunker?

[2017-03-29 18:39] oferh commented on #158
It's not trivial to solve so may take some time for me to handle it (and I work on Mac and Linux most of the time)

[2017-03-29 18:41] oferh commented on #180
@snstarosciak I think you'll need to create a custom `CompleterData` to do it.

[2017-03-29 19:06] szh opened #184 "Relax peer dependencies to support Angular 4.0"
Right now when running `npm install` with Angular 4.0 and ng2-completer I get the following warnings:
![image](https://cloud.githubusercontent.com/assets/546965/24471756/b954cf06-1488-11e7-9f93-5839df8cbddb.png)

This can probably be easily fixed like this:
https://github.com/valor-software/ng2-bootstrap/commit/d287d6425cda9bdcd20e28b997cc2bbd0686e47b#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2017-03-30 05:27] oferh commented on #184
maybe ">=2.1.0" will do

[2017-03-31 13:13] #128 closed

[2017-03-31 13:13] #133 closed

[2017-03-31 13:16] oferh commented on #184
closed in `1.3.0`

[2017-03-31 13:16] #184 closed

[2017-03-31 13:16] oferh commented on #158
closed in `1.3.0`

[2017-03-31 13:16] #158 closed

[2017-03-31 13:22] oferh commented on #132
link added to readme.

[2017-03-31 13:22] #132 closed

[2017-03-31 13:48] ericoliveros commented on #158
Hi @oferh,

Thanks for your time on fixing this. :+1:

[2017-03-31 16:59] szh commented on #128
I can confirm that this works. Thanks @oferh!

The only issue is that if I pass a number instead of a string, for instance if I'm databinding using `[inputId]="myVar"` where `myVar` is a number, it doesn't get set (`inputId.length` will be undefined [here](https://github.com/oferh/ng2-completer/commit/054a2543d95d4f64e112052aeef8c5ee69437ecd#diff-1220d22e5c08c8859262c4ccdcc68194R27))
I work around

[2017-04-02 06:01] oferh commented on #128
@szh Thanks!
yes `id` must be a string.

[2017-04-03 15:06] tdesvenain opened #186 "feature proposal: keyUp output event"
Hi, i need to output an event on key up,
would you accept this feature if I make the PR ?

[2017-04-03 15:30] do-web commented on #169
I have also the same Problem Cannot read property 'search' of undefined.
#37 Does not solve the issue.

[2017-04-03 18:36] oferh commented on #186
Hi, can you tell a bit more about the use case?
It might be better to make a custom component for it

[2017-04-03 18:42] oferh commented on #169
see issue #124

[2017-04-03 18:45] oferh commented on #129
you can now pass an array as input to `datasource`

[2017-04-03 20:20] Rebolon commented on #129
ok, i'll gie a try to this, thx

[2017-04-04 07:13] utpalkantsharma opened #187 "onselect gives setImmediate is not defined"
I am using the same example what you have shared. Here is few code which i am using in my project

[code]
I am getting list of captains as auto-complete, but onselect of option it is throwing an error setImmediate is not defined.
![screenshot from 2017-04-04 12 33 08](https://cloud.githubusercontent.com/assets/8805987/24645044/2073f496-1934-11e7-984a-02576c172312.png)

[2017-04-04 08:09] oferh commented on #187
Hi,
can you provide a plunk?

[2017-04-04 10:41] utpalkantsharma commented on #187
I created plunk and found it working perfectly fine (basically could not reproduce it in plunk).
I think angular version might be problem in my local system, refer image for error while installing
![screenshot from 2017-04-04 15 50 55](https://cloud.githubusercontent.com/assets/8805987/24652890/2b76a614-1951-11e7-9e04-e2bfb168c311.png)

[2017-04-04 13:15] duffers20 commented on #187
Hi oferh, I have also been experiencing this issue. In order to help with the debugging, I have created a project which can be cloned to recreate the issue (see Readme.md) for full details on reproducing the error:

https://github.com/duffers20/ng2-completer-issue-demo

[2017-04-04 15:33] tdesvenain commented on #186
I need to catch keyUp on ng completer input to set the form dirty

2017-04-03 20:36 GMT+02:00 Ofer Herman <notifications@github.com>:

--
Thomas Desvenain

Téléphone : 09 51 37 35 18

[2017-04-05 08:37] AsmaGargouri opened #188 "focus event is not working"
Let begin with saying, I love this module. and thank you for your work.

I have tried to use onFocus event as mentionned in the example.
`        <ng2-completer
  						[datasource]="'https://raw.githubusercontent.com/oferh/ng2-completer/master/demo/res/data/colors.json?'"
  						[minSearchLength]="1" [placeholder]="'search color'"
  						[inputClass]="'form-control'"
  						(focus)="focused =

[2017-04-05 11:31] sleepingbarber opened #189 "Feature request: option to hide the drop-down if there are no results found"
Would it be possible to add an option to hide the drop-down completely when there are no matches, instead of displaying it with "No results found" message? For example in a scenario where the user is able to choose from autocompleted values or enter his own custom value, the "No results found" message isn't really helpful. If "textNoResults" is set to empty string, an empty drop down box is still

[2017-04-05 15:26] brandhaug commented on #187
+1

The error only occurs when selecting an item from the dropdown with a mouse click. Works fine when using keys to select.

[2017-04-06 02:50] luckyboy07 opened #190 "Support mobile"
is this component can support mobile? so that we can used it on ionic 2.. thanks

[2017-04-06 09:55] oferh commented on #190
@luckyboy07 yes it is

[2017-04-06 10:06] oferh commented on #188
@AsmaGargouri thanks!
about the focus can you provide the code for what you tried to do on focus/blur?
you can switch the focus to another element in `selected` event.

[2017-04-06 13:30] dimitrisMaf28 opened #191 "Add option for preselected value"
I pass a preselected value on the completer via ngModel and when I delete it from the completer, the selected event is not triggered.

[2017-04-06 16:45] oferh commented on #187
closed in 1.3.1

[2017-04-06 16:45] #187 closed

[2017-04-07 03:05] luckyboy07 commented on #190
i see .. thanks a lot! 👍

[2017-04-07 03:05] #190 closed

[2017-04-07 11:58] tdesvenain opened #193 "extractValue is broken when object param is arrayish"
I get an issue when I set a dataField because in this code:

[code]

[2017-04-07 16:32] szh opened #194 "Completer doesn't close when the field is cleared"
When I start typing in an ng2-completer, the suggestion list opens, but when I clear all the text from the field, it stays open. I'm not sure if this is a feature or a bug.
I created a workaround for now:
`<ng2-completer #completer [(ngModel)]="value" (ngModelChange)="valChanged($event, completer)">`
`function valChanged(val, completer) { if (!val) completer.close() }`

[2017-04-09 08:55] oferh commented on #193
can you provide a sample of the data?

[2017-04-09 09:02] oferh commented on #194
@szh this is by design.
There is issue #189 that suggests closing the dropdown if there are no results.

[2017-04-11 10:59] ancabica opened #195 "Possibility to perform start-with search"
Hello,

Is there an attribute I can use that returns only those items in datasource that start with the value the user is entering in the input? By default, ng2-completer seems to perform a contains search.

Thank you,
Anca

[2017-04-11 11:12] oferh commented on #195
@ancabica you can do it by providing a custom `CompleterData`

[2017-04-13 10:35] YD1722 commented on #28
Doesn't make any sense

[2017-04-13 10:37] YD1722 commented on #28
@oferh It Doesn't make any sense

[2017-04-17 14:27] oferh commented on #194
it should close however when using `minSearchLength` and the length is less than the minimum

[2017-04-17 14:31] oferh commented on #191
@dimitrisMaf28 `ngModel` doesn't trigger selection and therefore when you delete the value selected is also not triggered

[2017-04-17 14:33] dimitrisMaf28 commented on #191
@oferh Is there another way then for having a preselected value ?

[2017-04-17 14:47] #129 closed

[2017-04-17 14:47] #124 closed

[2017-04-17 14:48] #120 closed

[2017-04-17 15:04] oferh commented on #114
`focus` and `blur` events are supported but it might be a good idea to add `clearSerach` that will clear the input if a value was not selected

[2017-04-17 18:48] oferh commented on #191
not yet but I'm working on it

[2017-04-17 19:54] PhilipNunn opened #197 "shift-tab back to input causes ngModelChange to empty string"
...and null select event

steps:
1. type something and select an option from the dropdown
2. hit tab to go to next control
3. use shift-tab to go back

result: ngModel is set to empty string and a select event with value null is raised
expect: nothing should happen except focus going back to control

[2017-04-17 19:59] PhilipNunn opened #198 "would like to be able to set withCredentials=true for remote datasource"
Prevents accessing secured http endpoints.
Getting the results manually and using a local datasource works but presents some potential timing issues. i.e. [pause] must be set to a time where the results are certain to be back instead of updating as soon as they are available.

[2017-04-17 21:50] oferh commented on #198
duplicate of #71

[2017-04-18 10:46] oferh commented on #197
tried reproducing it in the demo and couldn't can you provide more details like browser and what are the settings that you use

[2017-04-18 15:03] AsmaGargouri commented on #188
In fact, Even when I force to focus on another element after selecting item from dropdown list, I got the input focus just after that. I don't know why

[2017-04-18 19:49] oferh commented on #188
@AsmaGargouri if you can provide a plunker sample it can really help understand the issue

[2017-04-18 20:02] oferh commented on #145
@grenager you can do that by setting `searchFields` to `null`

[2017-04-19 05:22] oferh commented on #114
another option would be to have a `clear` option that gets: `nothing` or empty string as the default, `all`, `selected` or `unselected`

[2017-04-21 08:46] nadircan opened #199 "Initializers are not allowed in ambient contexts."
Hi. I getting an error.
[code]

Typescript version: 2.2.2
my npm version: 4.5.0
my node version: 7.9.0
My ng2-completer version:1.1.0

What is the solution?

[2017-04-21 11:18] oferh commented on #199
can you use the latest ng2-completer version (1.3.1)?

[2017-04-21 11:45] nadircan commented on #199
Now ng2-completer version 1.3.1 but i still get the same error.

[2017-04-21 12:43] #199 closed

[2017-04-21 13:05] ancabica commented on #177
Hello,

I have the same issue.
I know that I can pass an array as input to datasource, and this would fix the multiple dropdown problems, but I receive my object array list through an asynchronous call. That is why I have used Subject.

Here is a sample of my code
**html:**
`<ng2-completer  [(ngModel)]="article.SelectedTLSubstanceTypeValue" [datasource]="tlActiveSubstanceList" (selected)="selected

[2017-04-21 14:28] joeribelis opened #200 "Setting overrideSuggested = true gives different behavior when selecting with mouse or tab/keyboard"
setting overrideSuggested = true gives different behaviour when selecting with mouse or tab/keyboard

selection from the dropdownlist with the mouse works and selects the item from the list

selection with tab/keyboard selects the value the is typed. But i see in the input field the selected value

[2017-04-22 01:38] sarunl commented on #41
Could your please share how did you fix it?

[2017-04-22 05:40] oferh commented on #41
a plunk/pen can also help

[2017-04-22 09:06] oferh commented on #114
decided to go with `clearUnselected` because it's simpler

[2017-04-22 09:08] #146 closed

[2017-04-22 09:08] #191 closed

[2017-04-22 09:08] #194 closed

[2017-04-22 09:08] #114 closed

[2017-04-22 09:08] #186 closed

[2017-04-22 09:08] #189 closed

[2017-04-22 09:15] oferh commented on #200
fixed in 1.4.0

[2017-04-22 09:15] #200 closed

[2017-04-22 09:16] oferh commented on #71
closed in 1.4.0

[2017-04-22 09:16] #71 closed

[2017-04-22 20:56] tdesvenain opened #201 "Add strict null check to tsconfig.json"
If we have ng2-completer as a dependency, we can't compile because of those fails:

ERROR in node_modules/ng2-completer/src/directives/ctr-input.ts (35,5): Type 'null' is not assignable to type 'Subscription'.
node_modules/ng2-completer/src/directives/ctr-input.ts (135,17): Type 'null' is not assignable to type 'Subscription'.
node_modules/ng2-completer/src/directives/ctr-input.ts (155,13): Type '

[2017-04-23 02:27] qiz264 opened #202 "'ng2-completer' is not a known element and whole bunch of property binding error"
Hi,

I'm trying to add ng2-completer to my project, but whatever I tried, I can't get rid of the error indicated in the subject. I'm able to build the project and run the server, but the error occurs on loading the home page. Angular 4 doesn't recognize ng2-completer.

To install ng2-completer, I have followed the steps in Readme.md. Instead of putting 'ng2-completer.umd.js' into System.js, I have

[2017-04-23 05:29] oferh commented on #177
@ancabica you should use a different `CompleterData` for each instance of the dropdown.

[2017-04-23 05:34] oferh commented on #201
what version of angular and what version of typescript are you using?

[2017-04-23 05:39] oferh commented on #201
not using `strictNullChecks` in the project `tsconfig` also null is used in many places as valid input or as part of the state of an object

[2017-04-23 05:49] oferh commented on #202
just remove ng2-completer line from `.angular-cli.json`

[2017-04-23 05:53] #198 closed

[2017-04-23 06:52] fbernhard commented on #137
Adding this resolved resolves this partly:

[code]

[2017-04-23 07:06] qiz264 commented on #202
Thank you oferh. It still doesn't work. I'm able to do build and start server, but I'm still getting the same error, 'ng2-completer' is not a known element.

Below are the changes I made to my project:
- Installed ng2-completer with 'npm install ng2-completer --save'
- Added line below to app.module.ts
        import { Ng2CompleterModule } from 'ng2-completer';
- Added logic in my component class

[2017-04-23 07:56] oferh commented on #202
Hi, have you included `Ng2CompleterModule` in the imports section of your module?:

[code]

[2017-04-23 08:18] qiz264 commented on #202
Hi oferh,

Yes, I do. Here's my app-module.ts.

`
import { NgModule } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { HttpModule } from '@angular/http';
import { RouterModule } from '@angular/router';
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';
import { Ng2CompleterModule } from 'ng2-completer';

import { AppComponent } from './app.c

[2017-04-23 10:24] qiz264 commented on #202
I downloaded the ng-completer source package, built the package, and run 'npm start' to start the webpack server. Everything worked. I was able to load the demo page successfully.

Then I tried to move the demo native page (native-cmp.ts, html, css and any other required files) to my project, modified the import location to make the build working. Again, the build was successful and I was able to

[2017-04-23 14:02] oferh commented on #202
@qiz264 this time you got `'native-cmp' is not a known element ` or `'ng2-completer' is not a known element`?
because if it's `native-cmp` you may need to add `NativeCmp` to the `declarations` section of the module
can you create a github repo with the code?

[2017-04-23 22:14] jic900 commented on #202
Hi oferh,

My github repo is here:    https://github.com/jic900

In the repo,
-  native-cmp is the one I created for testing purpose using the Demo code (native-comp only) and Angular CLI (v1.0.0). After I declare the native-cmp component in app-module.ts, it's partially working now. At least the page could be loaded which means ng2-completer tag is working in html.

- acrossj-client is the one wh

[2017-04-24 05:14] oferh commented on #202
Hi,

In both projects needed to downgrade zone.js to version 0.8.5 (this looks like a zone.js issue)

  - native-cmp: `autofocus="true"` was causing an error which I need to further investigate at the moment I just removed it
 - acrossj-client: core has a different module in `app/core/core.module.ts` you need to import `FormsModule` and `Ng2CompleterModule` in this module for ng2-completer to work

[2017-04-24 07:04] Arikael opened #203 "Search shouldn't be executed when pressing Shift, Alt, CTRL or Caps Lock"
Hi there

First let me say this is a very cool plugin.

Currently it does execute the search when I press _Shift, Alt, Ctrl_ or _Caps Lock_.
I think the correct behavior would be that it doesn't do that.

Examples:
I wrote Foobar and now I just click _Alt_ -> this executes the search
I wrote Foobar and now I mark everything with _CTRL-A_ -> this executes the search

If I click any of the keys ment

[2017-04-24 07:54] oferh commented on #203
Hi @Arikael,
Thanks!
are you on version 1.4.0?

[2017-04-24 13:55] Arikael commented on #203
I was using 1.3.1 but I just updated and checked again and it seems to work as expected.

Thank you!

[2017-04-24 13:55] #203 closed

[2017-04-24 21:43] qiz264 commented on #202
Thanks again oferh. By adding both FormsModule and Ng2CompleterModule to the CoreModule in acrossj-client did the trick. I don't even need to put Ng2CompleterModule in the app.module.ts. For zone.js, I was using 0.8.5. With the latest 0.8.8, I was getting the error below, but with 0.8.7, everything is working fine.

Uncaught TypeError: Cannot read property 'apply' of undefined
    at XMLHttpReques

[2017-04-24 22:08] qiz264 commented on #202
Hi oferh,

Another question that might not be related to this issue. I want to display maximum 5 results and best match by StartWith and then Contains. Do you think that's doable with ng2-completer?

Thanks.

[2017-04-25 06:11] oferh commented on #202
Hi @qiz264,

yes it's doable see my answer [here](http://stackoverflow.com/a/41531384/1401751)

[2017-04-25 06:57] qiz264 commented on #202
Awesome, thanks a lot oferh! Another thing is, the width of my search input is dynamic based on the window size, and I want the result dropdown to be with the same width as the input. Is there any way to achieve that? I tried to dynamically set a style of 'width: {custom value}' in my component when opened or focus event is triggered, but no luck so far. I looked the ng2-completer component source

[2017-04-25 08:31] oferh commented on #202
do you need to change it programmatically or that you can use css rules for it (i.e. using css media queries)?

[2017-04-25 09:01] qiz264 commented on #202
Hi oferh,

I know css media queries will work if I give a fixed width for each different range of window size. What if I want to change it programmatically? Is it doable?

Thanks.

[2017-04-25 12:26] wolfen351 opened #204 "Struggling to install into angular2 project"
Hi there

I'm a real noob at this, so please forgive me if i'm doing something really silly!

Environment - Server is the lite-server in npm, running on windows. Editor is visual studio.

I followed the quickstart guide and did the following:

`npm install ng2-completer --save`

Then I added the line
`import { Ng2CompleterModule } from "ng2-completer";` to my app.module.ts file  - at this point al

[2017-04-25 18:35] renanpdp commented on #164
I'm having the same issue, can't use the available css classes for the component. My way out was to grab the element inside the component code and manually add styling.

Is there any update on this?

[2017-04-26 04:56] oferh commented on #204
what's the angular version that you use?
b.t.w it's better to ask this question on stackoverflow, you'd get answers faster

[2017-04-26 04:58] oferh commented on #164
@renanpdp  using `>>>` doesn't work for you?

[2017-04-26 05:12] oferh commented on #202
@qiz264 2 options in this case:

1. From your component get the completer component using `ViewChild` and the use its `nativeElement` with `querySelector` to find the elelment that you need
2. You can create your own custom autocomplete and fully control the styles, see [material-cmp](https://github.com/oferh/ng2-completer/blob/master/demo/material-cmp.ts) demo

[2017-04-26 06:15] wolfen351 commented on #204
here is part of my package.json - i think this means I'm using angular 2.4

[code]

[2017-04-26 06:51] oferh commented on #204
can you create a plunk/jsbin or a github repo?

[2017-04-26 07:18] wolfen351 commented on #204
i can't - there is a LOT of propriety code in this project, sorry :(

[2017-04-26 07:41] oferh commented on #204
the error is ambiguous, to be able to help there should be some way to reproduce it.

[2017-04-26 09:21] rangelke commented on #164
@renanpdp @intergleam @oferh
I didn't really knew how to use the percing selectors in order to change classes inside the ng2-completer from outside. However after a lot of banging my head against the wall, I discovered how it worked for me at least.

I have component, which uses the ng2-completer. In that component's scss I targeted the class used by the ng2-completer with
[code]
This prevents the

[2017-04-26 10:46] wolfen351 commented on #204
ok, i tracked the error down

the quickstart guide doesnt have the instructions in the correct order - the instruction to add the line
`'ng2-completer': 'node_modules/ng2-completer/ng2-completer.umd.js'` into systemjs.config.js is at the end of the quickstart guide, but it is required for the steps i did above to work.

hope this helps someone else out there, took me a whole day to figure out..

[2017-04-26 12:51] oferh commented on #164
@rangelke thanks, there's a sample in the demo and another one in this [plunk](https://embed.plnkr.co/ceP3dp/)

[2017-04-27 03:16] qiz264 commented on #202
Looks like it might be easier to create my custom autocomplete.

Thank you oferh for all the time and help here! I'll close the issue now.

[2017-04-27 03:16] #202 closed

[2017-04-27 07:48] rangelke commented on #164
@oferh Can you elaborate on `:host >>> .some-class {}`
I tried this before finding my solution, but it didn't work and I'm not sure how shadow DOM and shadow piercing work.

What's the difference between my and your solution?

[2017-04-27 08:02] rangelke opened #206 "Support Request: Prevent dropdown from closing when scrolling inside the dropdown on mobile"
Due to a massive array, it's really massive. Although we want to show all possible items after typing in 3 characters, which results in a massive dropdown and is not so nice to look at.

Using shadow piercing selecter I was able to change styling of the dropdown.
[code]

The dropdown now shows a couple items and on a computer it's perfectly possible to scroll down in the dropdown. However on mobil

[2017-04-28 04:44] oferh commented on #164
there's a good description on special css selectors in angular [styling documentation](https://angular.io/docs/ts/latest/guide/component-styles.html)

[2017-04-28 04:48] #204 closed

[2017-04-28 04:50] oferh commented on #201
@tdesvenain if you can provide a PR that adds strict null check it'll be great

[2017-04-28 06:30] rangelke commented on #206
@oferh
There is no way at the moment to prevent this behavior in the current state of the library?
If so, I can try look into possible solutions, but help is welcome of course.

[2017-04-28 06:40] oferh commented on #206
@rangelke the demo works on my mobile but haven't tested it on multiple devices.
can you provide a plunk and let me know which device are you checking on?

[2017-04-28 07:44] rangelke commented on #206
@oferh I just realized the same thing, your demo works on the tested device. I'm gonna look into it and get back when I have more info!

[2017-04-28 10:15] rangelke commented on #206
@oferh Silly me, I was still using 1.2.1 and I see in 1.3.0 the issue should have been resolved. Upgrading to 1.3.0 should solve the problem, however I can't build the application anymore after upgrading to 1.3.0

[2017-04-28 11:02] oferh commented on #206
Why not 1.4.0?

On Apr 28, 2017 13:15, "Kevin Rangel" <notifications@github.com> wrote:

[2017-04-28 11:56] rangelke commented on #206
@oferh 1.3.0 and 1.3.1. just crashes when the app gets initialied and 1.4.0 throws the following errors when compiling:
[code]

[2017-04-28 14:24] oferh commented on #206
can you provide a repo or a plunker that reproduces the issue?

[2017-04-28 14:40] rangelke commented on #206
@oferh
I updated all angular related packages from 2.1 to 2.4, the router from 3.0 to 3.4
The typescript from 1.8.10 to 2.1, ts-loader from 0.4 to 2.1 and rxjs from beta to 5.1.

Not sure which package solved the problem, but at least my app is able to build + run now and the issue is fixed using ng2-completer v1.4.0.

I don't think it's a bad thing the app undergoes those changes, the pain is tha

[2017-04-28 14:40] #206 closed

[2017-04-28 22:24] tdesvenain commented on #201
ok ! I'll tray to upgrade my app from angular 4 to 4.1 this week end, i
will go for it there

2017-04-28 6:50 GMT+02:00 Ofer Herman <notifications@github.com>:

--
Thomas Desvenain

Téléphone : 09 51 37 35 18

[2017-04-28 22:24] tdesvenain commented on #201
(as 4.1 is ok with strict null checks)

2017-04-29 0:24 GMT+02:00 Thomas Desvenain <thomas.desvenain@gmail.com>:

--
Thomas Desvenain

Téléphone : 09 51 37 35 18

[2017-05-01 15:14] neilb01 opened #207 "How to make dropdown list same size as search box?"
Currently the drop down list is bigger than the actual input box. I want it to be responsive and always be the same size as the text input so it doesnt look weird on different screen sizes.

I would also like the search input and results list to be 100% of the width of the page. I tried width:100% on the dropdown input but it doesn't work its just as big as the attached picture.

Heres a pic
![scr

[2017-05-01 22:14] sguddati opened #208 "Suggestion or Sample Example for Custom Remote Data Source"
Hello

I will have to pass the request options to the REST API based end point. I am not finding a way to do so using the CompleterService or CompleterDate. Can you give some pointers or a sample code please.

Srinivas.

[2017-05-02 00:01] sguddati commented on #208
Was able to figure this out. Thanks

[2017-05-02 00:01] #208 closed

[2017-05-02 00:03] sguddati opened #209 "Material Design Styles"
Hello

I am trying to use ng2-completer-md directive to get material design. I have copied the component, style and the template html files to components directory of ng2-complete in npm_modules. But the html is not rendering in the view .. Below is what I am seeing in the rendered one. On the other hand, if I use native design, the same code is rendering the entire html. Can you please suggest wh

[2017-05-02 03:56] sguddati commented on #209
If possible, I would rather have the auto complete associated to ion-input in ionic2. All the rest of the form is using ion-input with floating labels as below. It would be great if I can have the auto complete associated to some of the inputs so that I can keep the style consistent.

[2017-05-02 22:09] n0490b opened #210 "Why doesn't my custom data provider work? "You provided 'null' where a stream was expected. You can provide an Observable, Promise, Array, or Iterable""
I have a mysql database that I would like to query and than search. I am using PHP, PDO, and MySQL. I fetch the data and than encode it as json using php like this

    `$stmt = $pdo->query('SELECT * FROM siteData');
    $resultJSON = json_encode($stmt->fetchAll(PDO::FETCH_ASSOC));
    header('Content-Type: application/json');
    echo ($resultJSON);`

Screen shot of output in browser
![screen sho

[2017-05-02 23:06] viztastic commented on #82
@oferh Any thoughts on when we'll address the flicker issue, it does present a major UX issue?

Great module overall though!

[2017-05-03 05:32] oferh commented on #82
you can reduce the flickering by increasing the value of `pause`

[2017-05-03 05:40] oferh commented on #210
I think your URL is missing `http://` or `https://` prefix

[2017-05-03 05:49] oferh commented on #209
Hi,
since it's just part of the demo and not part of the module try to copy it to your app and not to `node_modules`

[2017-05-03 05:51] oferh commented on #207
Hi,

are you using /deep/ operator to force the styles down the component tree?

[2017-05-03 06:11] n0490b commented on #210
Thanks for replying. I added the `http://` and its still not working

[2017-05-03 06:15] n0490b commented on #210
If you would like you can try the link for yourself its pasted here https://privnote.com/1ljy94gO#4HgnggJxU (I posted it on a private message website that will self destruct the message after 24 hours because I want to keep the data private)

[2017-05-03 10:06] oferh commented on #210
please try this:

[code]

[2017-05-03 13:28] joeribelis commented on #210
And have you tried to extend the CompleterItem?

Something like

[code]

[2017-05-03 14:26] n0490b commented on #210
@oferh I just tried and it doesn't work

[2017-05-03 14:36] n0490b commented on #210
@joeribelis  Thanks for the help. I have not tried it that way yet. I am having a hard time understanding the code in the tutorial I have never worked with ASP.NET. In the tutorial the constructor calls `Configuration` but I dont see the method or the `app.constants` file its in anywhere in the tutorial. Could you possibly post what your `siteBackEndService` looks like? I'm not sure where to put m

[2017-05-03 14:51] n0490b commented on #210
I just updated the original post with some variables I forgot to add earlier

[2017-05-03 15:02] n0490b commented on #210
I'm getting this error in the dev console

![screen shot 2017-05-03 at 8 01 40 am](https://cloud.githubusercontent.com/assets/25650237/25666947/d92cd2f6-2fd6-11e7-87da-25bb4750ff75.png)

[2017-05-03 15:11] n0490b commented on #210
@oferh In my PHP file that I am using to query the database I am just doing a `select *` and echoing out the data as JSON like this

    $stmt = $pdo->query('SELECT * FROM siteData');
    $resultJSON = json_encode($stmt->fetchAll(PDO::FETCH_ASSOC));
    header('Content-Type: application/json');
    echo ($resultJSON);`

But in the browser when I start typing in the bar the url in the network conso

[2017-05-04 04:20] kotromeo opened #212 "How to configure component to continue entering"
http://take.ms/th97h
When i'm entering value and moved cursor to available variables, after that i'm need to continue entering but symbols added to end of string.
Value in field should be changed not on focus of available variables, it's should changed when i'm clicking on variable.

[2017-05-04 06:02] oferh commented on #212
set `fillHighlighted` to `false`

[2017-05-04 06:10] oferh commented on #210
@n0490b can't help much about the PHP side, but if your request should return 200 and the data.
About whether you need to send the term or not this is up to you, the component filters the results for you but sending a request that returns the same result every time is not efficient and it's probably better to get the data once with HTTP and pass it to the component as local data

[2017-05-04 07:20] kotromeo commented on #212
thanks, helped.

[2017-05-04 07:20] #212 closed

[2017-05-04 07:57] dimitrisMaf28 opened #213 "Is there a way to disable the search from the remote data?"
I would like to disable the search that takes place after the server response, as the server has already searched the data, in order to show all the results of the api response.

[2017-05-04 08:23] dimitrisMaf28 commented on #213
I show that you can add null to the search field. So it is closed!

[2017-05-04 08:23] #213 closed

[2017-05-04 15:41] arlamaeen commented on #168
Hi I'm trying to change the datasource values but even it's already change in the model it's not changing the dropdown list until you search for a letter. Do I need to do anything to force the dropdown to change the values?

Thanks in advance

[2017-05-04 16:26] n0490b commented on #207
No I did not. Thank you!

[2017-05-05 19:46] #207 closed

[2017-05-06 08:39] DarioN1 opened #214 "CompleterService - Templating searchFields and titleFields"
Hi,
I'm trying to implement a completer using completerservice.

This is what I'm trying to do:

`this.dataService = this.completerService.local(this.listCustomers,'code,businessName','businessName," -cod:",code');`

The search works properly, I can search by code and businessName, but the title of the options is not showed properly...

I want so render something like this: "testcustomer - cod:123

[2017-05-07 09:04] oferh commented on #214
@DarioN1 Hi,
`TitleField` accepts only the names of the fields not a format so you should pass in `"businessName, code"`

if you want to format the output you can either:
1. add a field that has the format you want to the input array
2. create a custom `CompleterData` that will create the items with the title you want

[2017-05-08 03:50] davidjconnolly opened #215 "Error - Supplied parameters do not match any signature of call target."
Hi All,

When I `ng build --prod` I'm getting the following error:
[code]

Relevant package.json:
[code]

Any suggestions?

Thanks!

[2017-05-08 06:46] DarioN1 commented on #214
Thanks Oferh, I solved the problem by adding a new field to the input array.

[2017-05-08 06:46] #214 closed

[2017-05-08 22:12] stanosmith commented on #215
I'm seeing this as well.

[2017-05-09 08:53] #140 closed

[2017-05-10 00:08] KingWang940 commented on #215
I got the same error as well. Is there any way we can resolve this? Thanks.

[2017-05-10 03:07] davidjconnolly commented on #215
FYI @stanosmith @KingWang940, I upgraded to the latest Angular 4/CLI and TS and my issue went away.  I suspect upgrading your packages will resolve the issue.

[2017-05-10 04:08] KingWang940 commented on #215
@davidjconnolly Thanks David, for some reason, I don't have permission to change versions, we are using very old version, do you think there is a way to work around ? Thanks.
    "typescript": "2.0.10",
     "@angular/common": "2.2.1",
    "@angular/compiler": "2.2.1",
    "@angular/compiler-cli": "2.2.1",
    "@angular/core": "2.2.1",

[2017-05-10 10:08] Arikael opened #216 "searching the same term twice causes different results"
Hi there

I noticed some strange behavior which is also present in the demo.
http://oferh.github.io/ng2-completer/#/native -> remote data

Here's how you reproduce it.
1. search 'germ' and wait until results are loaded
2. don't select any result
2. CTRL-A and then delete the search term
3. re-enter 'germ'
4. the search will already fire at 'ger' but the input shows 'germ'

it only happens if you e

[2017-05-10 12:50] davidjconnolly commented on #215
@KingWang940 I'm not sure, you could try just upgrading Typescript (current version 2.3.2).  To be honest though, the upgrade was very painless.  I went from Angular 2.1.x to 4 and upgraded all my dependent packages in about 5 minutes.  The only thing I had to change was a minor environment configuration file for Angular CLI as instructed by the CLI itself.  I would figure out why you can't change

[2017-05-10 12:51] davidjconnolly commented on #215
Failing that, you could debug the ng2-completer code to see where it's failing, fork it and change the code so it's inline with whatever version you're stuck on.

[2017-05-11 05:03] oferh commented on #216
actually I've noticed another issue that sometimes the dropdown doesn't open

[2017-05-11 05:11] oferh commented on #215
you can also try and import `ng2-completer` from source and not from precompiled lib:
[code]

make sure to change all imports to using `src` if you also import `CompleterService` or other lib components.

[2017-05-11 17:03] osixia opened #217 "Add a blur() method?"
Hello,
to improve user experience i think it would be nice to have a blur method (reverse of the actual focus method), for example to call it when a result is selected on mobile.

Here the actual behavior on mobile:
When the search field get focused the keyboard appears, i start typing and select a result,
the keyboard is left displayed.

It would be nice to call the blur() method to hide the keyb

[2017-05-12 05:54] BladedGhost opened #218 "Limit items that is loaded and items seems to struggle to load"
So I have this issue where I have over a thousand items loaded into the auto complete, is there a way for me to set the auto complete to limit the amount of items displayed to the user until they search further?

Then the other issue, with the amount of items I have, the search seems to stop working. I will get where it works and then all of a sudden no longer works at all and just says searching.

[2017-05-15 09:54] squareconcepts opened #219 "Material design not working"
The normal version of of ng2-completer is working fine. But after copying the ng2-completer-md files to my angular2 project I get the following error:

`If 'ng2-completer-md' is an Angular component and it has 'datasource' input, then verify that it is part of this module.`

This is right, because there is no datasource input in the completer-cmp-md.ts file. There is an input dataService and this

[2017-05-16 07:19] oferh commented on #219
`ng2-completer-md` is demo code so it's not equivalent to `ng2-completer` if you create a repo or plunk with code it'll be easier to understand what the issue is.

[2017-05-16 07:22] oferh commented on #218
Hi,

please check [this answer](http://stackoverflow.com/questions/40903541/angular-2-how-to-limit-the-number-of-search-results-in-ng2-completer/41531384#41531384) on stackoverflow

[2017-05-17 05:08] BladedGhost commented on #218
Thanks, that worked :+1:

[2017-05-17 18:13] bobby-brennan commented on #168
@oferh @arlamaeen I'm seeing this too. Looks like it's specific to 1.4.0 with `[openOnFocus]` - when using 1.3.1 or setting `[openOnFocus]="false"`, the list changes appropriately.

Specifically, here's the issue:
* user starts typing, autocompletions show appropriately
* user interacts with another part of the page, autocompletions hide
* `next()` passes a new value to the observable
* user click

[2017-05-17 18:40] marpereira opened #220 "Using number on presenting text is causing an 'is not function' error"
I'm having an error with ng2-comleter when executing this steps:

1. click on input; (everything ok)
2. select the object; (object selected)
3. click on input again; (console ERROR)

this is my DOM
[code]
and this is the error
[code]
here is my code
[code]
and simplifying using Classes and not Interfaces
[code]
I think that component is trying to execute .toLowerCase of the field 'id' because its

[2017-05-18 17:28] marpereira commented on #168
that's right @bobby-brennan, and there are another issue associated.
If the attributes ```[minSearchLength]="0" [clearUnselected]="true" ``` are defined, users click arrow-down and

appears again.
This is probably a bug, is there any method that forces datasources to refresh? If it exists we could workaround with an open handler.

[2017-05-19 10:31] tauciokas opened #221 "[autoMatch] doesn't seem to do what its meant to do"
I've autoMatch set to true but it doesn't seem to do what its intended to do.

                    `<ng2-completer [(ngModel)]="cityFilter" [placeholder]="'Enter city'" [textNoResults]="'No Results Found'" [fillHighlighted]="true" [autoMatch]="true" [inputName]="'cityFilter'" [datasource]="cityList" [minSearchLength]="2" (blur)="filterByCity()"></ng2-completer>`

Is there anything else needed? It

[2017-05-20 05:33] BehnamAbdy opened #222 "how to use urlFormatter?"
here is my html
       <ng2-completer [(ngModel)]="productTerm"
                                   [ngModelOptions]="{standalone: true}"
                                   [dataService]="productDataService"
                                   [inputClass]="'form-control'"
                                   [minSearchLength]="1"
                                   (urlFormater)="preSearchReq(term)"

[2017-05-21 12:16] wolfen351 opened #223 "Quick Question: Can I make it behave like a normal dropdown"
Hi there

I have the following setup -
`<ng2-completer [(ngModel)]="selectedStatus" [datasource]="status" inputClass="form-control" autoHighlight="true" minSearchLength="0" inputName="selectedStatus" autoMatch="true" openOnFocus="true" fillHighlighted="true" placeholder="Select Status" name="selectedStatus" ></ng2-completer>
`

Is there a way that I can tell it to show all items anyway, and behave

[2017-05-21 12:17] wolfen351 commented on #223
Ive tried setting the minSearchLength to 100 but that disables the search altogether..

[2017-05-22 06:58] oferh commented on #223
Hi @wolfen351,

don't know what a normal dropdown is 😄
you can display all items if you set the `searchFields` value of `status` to `null`

[2017-05-22 07:02] oferh commented on #222
`urlFormater` is a method of `RemoteData` not a property of the `ng2-completer` component.
You can see how it is used in the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.ts#L90)

[2017-05-22 07:05] oferh commented on #221
autoMatch will only close the dropdown if the text exactly matches, can you provide better reproduction steps or even better a plunkr?

[2017-05-22 07:20] wolfen351 commented on #223
@oferh thanks for the response, i mean the following behaviour:

* Some value is already selected
* User clicks the box
* The dropdown opens showing all items
* The user presses A
* The dropdown filters, showing only items with an A
* The user continues typing and eventually selects an item
* Back at step 1

:)

[2017-05-22 07:29] oferh commented on #223
@wolfen351 can you also add the code where you create `datasource`

[2017-05-22 08:20] wolfen351 commented on #223
sure - its a string[]

      // prepare status ddl
      console.log("Preparing status DDL");
      for (var status in this.serverData.userStatus) {
        this.status.push(status);
      }
      this.status.sort();

[2017-05-22 09:28] marpereira commented on #216
@oferh same search will not open dropdown. There are any method to refresh search results?

[2017-05-22 11:36] cternes opened #224 "Is it possible to save an object id as value instead of title?"
I'm retrieving objects like this from the backend:
[code]

I'm using the component as follows:

[code]

Using the component like this will always display the "name" field in the input box (which is correct) but also stores this field as value into the form.

Is it possible to display the "name" field but store the "id" field in the form?

[2017-05-22 12:34] oferh commented on #223
can you try:

add a member to the component:

[code]

ans in ngOnInit after the creation of the array:
[code]

you can see the sample in the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.ts#L99)

[2017-05-22 12:36] oferh commented on #224
`selected` event returns a `CompleterItem` object that has an `originalObject` member which you can use here.

[2017-05-22 13:42] cternes commented on #224
Yeah, I've seen this, but hoped there would be an alternative.

[2017-05-22 15:05] bobby-brennan opened #225 "Feature request: partial completions"
Happy to implement this if you think this would be helpful to others. Otherwise I can work in my own fork.

## Request
I have a text field where users can type in an expression, like `foo + bar - baz`. I'd like to have `foo`, `bar`, and `baz` as suggested completions as the user types.

## Suggested Implementation
Create a `token_separator` option, which takes in a regex. As the user types, `value

[2017-05-22 16:59] bobby-brennan commented on #225
Here's a simple implementation - it just takes in a `tokenSeparator` string option, and runs autocomplete on the last token.

https://github.com/oferh/ng2-completer/compare/master...bobby-brennan:master

[2017-05-22 18:39] oferh commented on #224
if it will get multiple requests it can be added.
at the moment there are 2 options:
1. if you have only several elements - add a hidden form element that will get the value you need
2. if you have a large number of elements you can create a custom completer (or just wrap ng2-completer) and make ngModel return any value that you need

[2017-05-22 20:45] SadatAnwar commented on #215
I can confirm that upgrading everything to angualr4 works

`npm install @angular/{common,compiler,compiler-cli,core,forms,http,platform-browser,platform-browser-dynamic,platform-server,router,animations}@latest typescript@latest --save
`
I found that command very helpful.

[2017-05-23 11:01] #224 closed

[2017-05-23 22:59] tigredonorte opened #227 "How can i build this project?"
I'm trying to build this project, but i don't know how to build.
i tryied
[code]
but not works.

[2017-05-24 04:41] oferh commented on #227
Hi,
try `npm run build`

[2017-05-24 04:57] oferh commented on #225
Hi,

Great idea!
Not sure though if it's a nice supplement to the current functionality or that it turns it to something different, mostly will there be future collision between the need to maintain this and the "core" functionality of the package.

[2017-05-24 12:54] tigredonorte commented on #227
for some strange reason, npm install doesn't installed all packages. When i run npm update it works. Maybe it's a good idea add in readme.md file the instructions to develop for this package.

[2017-05-24 13:00] tigredonorte opened #228 "[FeatureRequest] Implements callbackFormatter"
When i request data from some service, this service can return many fields. Some of then i want to show in search results as description field, another times i just want format data before it's showed. So, if CompleterData class is changed to receive some callback function to format this data and place it in description field, it turns this API more flexible.

[2017-05-24 13:01] #227 closed

[2017-05-24 17:45] tigredonorte opened #230 "[Question] How can i build ng2-completer for systemJs?"
I'm trying to build ng2-completer, but bundled files are packaged with webpack. I was using the ng2-completer of npm:https://www.npmjs.com/package/ng2-completer, it works fine in my project. But i did some fork in this repository and make some changes, so i want build this changes to run properly in systemJs, but npm commands in packages.json only generates a webpack bundled version.

So, how can

[2017-05-24 19:39] bobby-brennan commented on #225
Alternatively, we could just accept functions that extend ng2-completer with this type of functionality.  For example, `[getQueryFromValue]` and `[getValueFromSelection]` functions.

By default these would just be:
[code]

But I could do something like:
[code]

It would also be nice to pass in the previous value to these functions (which would help me figure out where the user is typing) but I und

[2017-05-24 20:47] szh opened #231 "ngModelChange called on init"
I have an ng2-completer component:
`<ng2-completer [(ngModel)]="val" (ngModelChange)="valueChanged()" (blur)="touched()"></ng2-completer>`

However, `valueChanged()` is being called as soon as the component is created. This does not happen with HTML `<input>` controls.

[2017-05-25 06:21] oferh commented on #230
you need to run `npm run build` after it completes `dist` folder has the package that is used for npm publish

[2017-05-25 06:22] oferh commented on #228
@tigredonorte you can create a custom `CompleterData` for this purpose.

[2017-05-25 06:37] oferh commented on #225
actually I think it can be done by writing a custom `CompleterData`:

[code]

[2017-05-25 11:20] tigredonorte commented on #230
thanks

[2017-05-25 11:20] #230 closed

[2017-05-25 11:22] tigredonorte commented on #228
how can i do this?

[2017-05-25 11:41] oferh commented on #228
see in the demo the [`CompleterData`](https://github.com/oferh/ng2-completer/blob/master/demo/custom-data.ts) and [how to use it](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.ts#L98)

[2017-05-25 16:02] miked1090 commented on #167
@oferh I'm interested in multiselect, is that something you plan on adding?

[2017-05-26 13:27] taivu opened #232 "minimum search length behavior weird."
i've set the attribute `[clearSelected]="true"` and  `[minSearchLength] = "5"` and it will open the drop down once i get to 5 characters. once selected, the text goes away and the focus is still on the input (im also using `(selected)="doSomething($event)`). after the selection, to open the dropdown results again, my character input has to be +1 than  the set minimum. in this case, i have to type

[2017-05-30 13:03] tapahbl4 opened #233 "Not triggered event (selected)"
template:
[code]
component:
[code]
service:
[code]
I'm using local data, but loading from server (convert tree to stack) with Promise.
After loading completer working, but after choosing event not triggered.

[2017-05-30 16:16] saostad opened #234 "How can I get originalObject in selected event"
Hi.
How can I get originalObject in selected event?

for example in your example:

`
protected searchData = [
    { color: 'red', value: '#f00' },
    { color: 'green', value: '#0f0' },
    { color: 'blue', value: '#00f' },
    { color: 'cyan', value: '#0ff' },
    { color: 'magenta', value: '#f0f' },
    { color: 'yellow', value: '#ff0' },
    { color: 'black', value: '#000' }
  ];

  constructor

[2017-05-30 16:27] bobby-brennan commented on #225
Cool, a custom `CompleterData` works great for turning the current value into an appropriate query.

What's the best way to override what happens when an item is selected? Right now, it replaces the *entire* value, rather than just the last token.

Maybe CompleterData should have a `valueField()` in addition to `titleField()`. Currently it's using `titleField()` for both what gets displayed in the

[2017-05-30 17:43] rajeshtandukar commented on #234
Same Question here!

[2017-05-30 18:17] tapahbl4 commented on #234
#233 But not working

[2017-05-30 20:22] saostad commented on #234
I use this and works for me:

(selected)="onItemSelect($event)"

and

onItemSelect(selected:CompleterItem){
    if(selected)
      this.selectedItem = selected.originalObject._id;
  }

[2017-05-30 20:23] saostad commented on #233
I use this and works for me:

(selected)="onItemSelect($event)"

and

onItemSelect(selected:CompleterItem){
if(selected)
this.selectedItem = selected.originalObject._id;
}

[2017-05-31 04:19] saifulazad opened #235 "Cancel button not working having initial value"
I am using ng2-completer. This is nice and useful. But I am facing a problem.
when I have an initial value there is a close button. when I click close button (selected) event is not triggered :( .

                          `<ng2-completer [datasource]="projectData"
                                                   [minSearchLength]="2"
                                                     [(ngMod

[2017-05-31 10:17] kormic commented on #168
Same here as @marpereira

[2017-05-31 12:23] mrnickel opened #236 "Alignment off when using bootstrap input-group"
With the following markup the alignment of the completer-dropdown is off. Doesn't seem to be able to take into account the height of the field:

[code]

![alignmentissue](https://cloud.githubusercontent.com/assets/495165/26631692/3ef01300-45da-11e7-9a60-eaa3dac89cf6.png)

This is using bootstrap 3.3.7

[2017-06-02 19:21] marciomsm commented on #87
How can I customize the component without use "!important"?

[2017-06-03 04:40] oferh commented on #87
you need `important!` only for the limited set of attributes that are set in the component stylesheet.

[2017-06-05 19:48] marciomsm opened #237 "Can't bind to [Attribute] since it isn't a known property of 'ng2-completer'."
I am getting these erros bellow. Does anyone know what I need to do to fix it?

Here is my code:
[code]

Thanks.

[2017-06-05 22:50] oferh commented on #237
have you imported `Ng2CompleterModule` in your `AppModule`?

[2017-06-05 23:21] marciomsm commented on #237
@oferh yes, I imported.

`import { Ng2CompleterModule } from 'ng2-completer';`

Just a thing that I forgot to say, I am getting these erros in my unit test.

Thank you very much for your quick answer.
I really appreciate it.

[2017-06-06 00:00] marciomsm commented on #237
@oferh I discovered how to fix this problem.

On app.component.spec.ts we need to add `CUSTOM_ELEMENTS_SCHEMA`.

[code]

[2017-06-06 00:00] #237 closed

[2017-06-06 00:22] marciomsm opened #238 "Open dropdown when we already on focus"
Are there some way to open the dropdown again when we already on focus and the mouse cursor is blinking?

I mean, when I am on focus and I want to open the dropdown again, I need to remove the focus and then focus on field again.

[2017-06-06 06:33] rajeshthb commented on #88
any update on this feature ?

[2017-06-06 09:21] oferh commented on #88
can you provide a plunkr for it?

[2017-06-06 09:24] oferh commented on #238
yes, there is an `open` method for the component - see the [demo](https://github.com/oferh/ng2-completer/blob/master/demo/native-cmp.ts#L126)

[2017-06-06 14:24] marciomsm commented on #238
@oferh I got this error `Cannot read property 'open' of undefined`. Do you have any ideia?

[code]

[2017-06-06 14:51] oferh commented on #238
can you also add you html?

[2017-06-06 14:56] marciomsm commented on #238
Hi @oferh, here it is:
[code]

[2017-06-06 18:51] caribbeansteve opened #239 "After receiving valid response and requesting again JWT token is invalid"
After an initial request with a valid response back from the server if you type another character the next request will append the exact key at the end of the original key, causing it to be invalid. Screenshots below:

<img width="529" alt="valid" src="https://user-images.githubusercontent.com/11599726/26846268-23f4d42c-4ac7-11e7-818d-7c74f1738fcc.PNG">
Valid request

<img width="529" alt="invald"

[2017-06-07 06:42] oferh commented on #239
what are the response headers of the first request?
the component doesn't set `Authorization` header unless a `headera` or `requestOptions` with it is specifically set.

[2017-06-07 12:15] caribbeansteve commented on #239
Here are the response headers.
<img width="272" alt="response" src="https://user-images.githubusercontent.com/11599726/26877896-6f4b3032-4b59-11e7-949a-b2821a01222d.PNG">

[2017-06-07 12:44] caribbeansteve commented on #239
So after digging around through the code I found that after the first request the portion of the code within remote-data.ts that once you call http.get within the search function the headers would not be reset, causing the http.get method to add on another authorization token. Not sure the implications of my solution by I fixed it by setting the requestOptions to null.

[2017-06-07 15:12] oferh commented on #238
try this:

[code]

[2017-06-07 15:38] marciomsm commented on #238
Hi @oferh this works for me.

One question, if I have more then one dropdown in my template, I need to duplicate the my code, right?

Thanks.

[2017-06-07 15:53] oferh commented on #238
yes, but you can always create a function that gets the relevant component

[2017-06-07 22:55] danielnajera opened #241 "Request Options"
How do you pass the Request Options, either in the TS file or the Html, is there a method or properties I can assign the Request Options?  I need to pass a token to authenticate for the remote option to work, any help would be greatly appreciated.  Thank you.

[2017-06-08 11:22] oferh commented on #241
`RemoteData` has a `requestOptions` method which you can use to set the request options.

[code]

[2017-06-08 16:47] Bengejd opened #242 "Usage with Object results (Algolia)"
Great product, first off! It works out of the box, like nobody's business! One thing that I am having difficulty doing is populating the auto-complete results of the search with a series of Objects. When I query Algolia, I get the following:
`[Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Object, Obje

[2017-06-08 18:00] Bengejd opened #243 "autoHighlight not working."
This is reproducible in the plunkr that you have available, just setting [autoHighlight]="true" does not highlight the closest input, as stated in the docs.

[2017-06-09 06:24] jaiparkashyadav opened #244 "Problem while using ng2 completer witn Angular CLI"
Hi All,

I an new to Angular world. I want to use ng2 completer using angular CLI project.

I have followed steps mentioned on link https://www.npmjs.com/package/ng2-completer , except the system.js . Can you please suggest me where to set these things in case of Angular CLI.

I am getting below error:

ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'datasource' si

[2017-06-09 15:21] oferh commented on #244
Hi @jaiparkashyadav,

Looks like something wrong with the way you imported `Ng2CompleterModule `.
Better ask this type of questions on stackoverflow and add the `AppModule` and component code

[2017-06-09 15:30] oferh commented on #242
@Bengejd thanks!

`searchFields` and `titleField` accept an object path notation, i.e. `object.field` that you can use.

[2017-06-09 15:31] #96 closed

[2017-06-09 15:31] #108 closed

[2017-06-09 15:32] #109 closed

[2017-06-09 15:32] #113 closed

[2017-06-09 15:39] #201 closed

[2017-06-09 15:39] #216 closed

[2017-06-09 15:39] #232 closed

[2017-06-09 15:39] #239 closed

[2017-06-09 15:46] taivu commented on #232
how does this fix the minimum search length issue?

[2017-06-09 16:13] oferh commented on #232
It was fixed in the previous commit, tested it only afterwards and added a close  commit message

[2017-06-09 17:26] taivu commented on #232
i took an update from npm, (1.5.0), now after the first initial search is selected, the search will no longer yield results.

[2017-06-09 20:15] taivu opened #245 "ng build --prod error:"
i get this error when using `ng build --prod`:

[code]

completer v1.5.0
angular cli v1.1.1

[2017-06-10 03:08] oferh commented on #119
is it still relevant?

[2017-06-10 03:10] oferh commented on #116
supported with `open`

[2017-06-10 03:10] #116 closed

[2017-06-10 03:10] #233 closed

[2017-06-10 03:11] #157 closed

[2017-06-10 03:11] #145 closed

[2017-06-10 03:12] #138 closed

[2017-06-10 03:12] #149 closed

[2017-06-10 03:13] #241 closed

[2017-06-10 03:14] oferh commented on #130
is it still relevant?

[2017-06-10 03:16] #162 closed

[2017-06-10 09:04] rezoan opened #246 "Error: (SystemJS) ctorParameters.map is not a function TypeError: ctorParameters.map is not a function"
Trying to use the ng2-completer but getting error

Error: (SystemJS) ctorParameters.map is not a function
	TypeError: ctorParameters.map is not a function

my
- package.json has ` "ng2-completer": "^1.5.0"`
- systemjs.config map has` 'ng2-completer': 'npm:ng2-completer/ng2-completer.umd.js'`
- App.module has
[code]

what i am doing wrong?

[2017-06-10 16:53] NguyenDo-Consulting commented on #119
It is because I have to add my fix for every new release you make. Can you
add an attribute to from and default to false? This is so it doesn't break
what people already has.

On Jun 9, 2017 11:08 PM, "Ofer Herman" <notifications@github.com> wrote:

[2017-06-10 17:34] Bengejd commented on #242
Could you provide a little code snippet? I'm just having difficulty hooking up Algolia's API with the component to show the searched results. With Algolia, you search the index's like so:
`index.search(event.query, (err, content) => {
        console.log(content.hits);
        this.searchData = content.hits; // This is how I was populating the searchData results, but i'm not sure if it's correct.

[2017-06-11 20:26] daddyman commented on #245
I have the same problem. For a temporary workaround I:
* save the code below in postinstall.js
* install the `replace-in-file` npm module
* `node postinstall.js` to fix the currently installed version
* `ng build --prod` succeeds.

To fix it when reinstalling node modules I added this to the postinstall script in package.json
* `"postinstall": "node postinstall.js"`

[code]

[2017-06-12 08:35] arsyed04 opened #247 "Property 'displaySearching' is private and only accessible within class 'CompleterCmp'."
ERROR in ng:///E:/BambooHome/xml-data/build-dir/163841/src/App/node_modules/ng2-completer/components/completer-cmp.d.ts.CompleterCmp.html (13,17): Property 'displaySearching' is private and only accessible within class 'CompleterCmp'.

Doing --prod build using ng build. Also happens in AOT build.

[2017-06-12 09:44] kormic commented on #245
I am having this too, I changed displaySearching from private to public for now till it's fixed

[2017-06-12 11:25] readme42 commented on #247
Downgrade to 1.4.0 solves this.

[2017-06-12 11:25] readme42 commented on #245
Downgrade to 1.4.0 solves this.

[2017-06-12 11:28] s-rusev opened #248 "Dropdown selection doesn't move scrollbar when arrow keys are pressed"
When the dropdown menu is opened and there are more suggestions than the current height - if we press the key-down beyond the last showing element - the highligted item doesn't move the scroller (and respectively it disappears).
The highlighted item should be always shown.

[2017-06-12 13:39] tschaka1904 opened #249 "Custom templates?"
Great library! I've a questions about about the suggestion box. I would like to serve more then one value per suggestion. For example: Name, Category and Count. And maybe also parse some HTML for the CSS ass well. Basically something similar to this: http://www.ebi.ac.uk/ols/index

[2017-06-12 15:17] taivu commented on #247
same issue #245

[2017-06-12 15:41] marciomsm opened #250 "Property 'displaySearching' is private and only accessible within class 'CompleterCmp'."
I received the error below for ng2-completer@1.5.0.
I rollbacked to ng2-completer@1.4.0 and the error does not happen.

`ERROR in ng:///node_modules/ng2-completer/components/completer-cmp.d.ts.CompleterCmp.html (13,17): Property '
displaySearching' is private and only accessible within class 'CompleterCmp'.`

[2017-06-12 15:43] Arikael commented on #216
I just updated to 1.5.0 but I can't see any difference in behavior

[2017-06-12 16:45] oferh commented on #216
Are you doing any other scenario? because the one described above works in the demo

[2017-06-12 20:29] ledicjp commented on #247
I have the same issue

[2017-06-13 10:52] dimitrisMaf28 opened #252 "No Blur after select"
Is there anyway to remove focus after select? I tried this:
`let elem = <HTMLElement> document.activeElement
   elem.blur()`
but the input still has the focus.

[2017-06-13 11:39] jaiparkashyadav commented on #244
Thanks for the response, it has been fixed, it was problem in importin gin AppModule.

[2017-06-13 11:39] #244 closed

[2017-06-13 11:42] jaiparkashyadav opened #253 "How to increase the width ng2-completer search field"
Hi Experts,

I am using ng2-completer, it is working fine. Just one problem ,  i am not able to increase its width.

I have added below in my component .css file but still it is not working and also getting some error in VSCode:

:host >>> .completer-dropdown {
    width: 100% !important;
    position: relative !important;
}

Please help me out into this ... thanks in advance.

Regards,
Jai

[2017-06-14 12:03] shabbir-dhangot commented on #207
I am applying below css its not growing

<pre>
    /deep/ .completer-dropdown-holder {
        display: block;
        width: 700px !important;
    }

    /deep/ .completer-input {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
    }
</pre>

![screenshot from 2017-06-14 17-30-43](https://user-images.githubuserconte

[2017-06-14 14:09] s-rusev commented on #250
https://github.com/oferh/ng2-completer/blob/master/src/components/completer-cmp.ts
Both
      private displaySearching = true;
      private displayNoResults = true;
should become public because they are used in the template and this fails in Angular 4.2

[2017-06-14 14:26] marciomsm commented on #168
Do we already have a fix to refresh datasource?

[2017-06-14 14:43] taivu commented on #250
same as #245

[2017-06-14 14:49] crystalline commented on #168
We have my pull request that has to be modified to be accepted. I'm already using it though. Will update the PR later. If you really need it you can see my PR and apply it yourself or use my fork.

[2017-06-14 15:08] marciomsm commented on #168
@crystalline and @oferh when this PR will be merged. Do you know?
Thanks.

[2017-06-14 16:01] vpillinger commented on #245
The cause of this is that Angular2 JIT compiler doesn't care about scoping between templates & components, whereas the AOT compiler does. It seems that this module already comes with a pre-compiled version in the files. Is there any way to tell the AOT compiler to use that?

[2017-06-14 16:52] vpillinger opened #254 "Rollup Error "Module Cannot Import Itself""
![image](https://user-images.githubusercontent.com/6379913/27144505-2b780eaa-5100-11e7-85d6-309b1928df1f.png)
![image](https://user-images.githubusercontent.com/6379913/27144500-2426b4b2-5100-11e7-997d-1db51402efce.png)

When I try to rollup my project, I get this error about the module importing itself. Does anyone know how to fix this issue? I am using the rollup config in googles Angular2 AOT g

[2017-06-14 19:28] oferh opened #255 "Dropdown doesn't open when typing one character"
The dropdown only opens when typing the 2nd character

[2017-06-14 20:59] bkmorimoto commented on #247
@readme42 downgrading to 1.4.0 just leads to this AOT issue which was resolved in 1.5.0 #205
Both need to be addressed before it can be AoT compatible

[2017-06-14 20:59] #255 closed

[2017-06-14 21:03] oferh commented on #254
Hi,
better ask this question in stackoverflow, it looks more like a rollup question

[2017-06-14 21:05] oferh commented on #252
did you try to focus on another element?

[2017-06-14 21:11] oferh commented on #243
@Bengejd please check with 1.5.1 and it's also recommended to use `[fillHighlighted]="false"` with `[autoHighlight]="true"`

[2017-06-14 21:27] vpillinger commented on #254
I have figured out the issue. It is actually a problem with Angular 4.2 compiler producing es2015 invalid code. If anyone else has this issue please roll-back to Angular 4.1.

[2017-06-15 07:15] siddu-ms opened #257 "show data on drop down"
i have two tables "users" and "shows". on user can have many "shows". on "keyup of username"  i am getting all "shows" belongs to users. but i need to show all "shows" name on dropdown when i type "user name" on search input field.
How can achieve this? Any suggestions?

[2017-06-15 07:27] steveblue commented on #254
Or you could write a rollup plugin to deal with this or the very simple workaround during a build step that is outlined here => https://github.com/steveblue/angular2-rollup/issues/18

[2017-06-15 07:28] dimitrisMaf28 commented on #252
Yes, I tried on the body and on the footer, but it didn't seem to work.

[2017-06-15 12:56] oferh commented on #249
duplicate of #79

Making it easier to customize (with templates) is somewhere on my roadmap, but I don't know when.
At the moment you can create a custom completer object like the one in [md demo](https://github.com/oferh/ng2-completer/blob/master/demo/completer-cmp-md.ts)

[2017-06-15 12:58] oferh commented on #246
hard to say, need some more info like you system.js config

[2017-06-15 13:01] oferh commented on #257
do you use 2 completer objects or just 1?
can you add an image of what your page looks like and what are you trying to do?

[2017-06-15 13:14] siddu-ms commented on #257
i am using ng2 completer. i have attached picture below. when i search "zara " drop down showing two fields with comma seperated. but i dont want to display first field in that drop down. when i type "zara" it has to show the text after the comma.
![img_20170615_183951](https://user-images.githubusercontent.com/28820315/27182987-b07c0a02-51fa-11e7-8d6a-e8d14c94be2e.JPG)

[2017-06-16 05:08] oferh commented on #247
closing as duplicate

[2017-06-16 05:08] #247 closed

[2017-06-16 05:11] #245 closed

[2017-06-16 05:11] oferh commented on #250
closing as duplicate

[2017-06-16 05:11] #250 closed

[2017-06-16 05:15] oferh commented on #248
There were some changes in 1.5.1 that should resolve that.

[2017-06-16 05:19] oferh commented on #242
not familiar with Algolia, can you create a plunk or add a sample of the data you get in `content.hits`?

[2017-06-16 05:19] #218 closed

[2017-06-19 07:30] asahu8 opened #258 "Unable to use object with ng2-completer submitted forms"
[code]
[code]

With above code in UI it display the selected country's name in the UI and when the form is submitted it sends the same string.

I expect it to send the country object.  In the UI on using "searchStr" instead of "searchStr.name" it submits the object. But in UI it displays [object Object].

Tried using ngValue but am not sure ng2-completer supports it or not. Please help!

[2017-06-19 08:36] s-rusev commented on #248
I tried with 1.5.2 and the issues still occurs. Any ideas how to workaround it? Thanks!